.feature {
  @include get-all-space;
  overflow: hidden;
  padding: 16rem 4rem 6rem;
  perspective: 1000px;

  @include mq(m) {
    padding: 4rem;
  }
}

.big-shape-container {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);

  svg {
    display: block;
    max-width: 568px;
    margin: 0 auto;

    .base {
      display: none;
    }
  }
}

.colored {
  [data-barba-namespace='dependency-free'] & {
    color: $c-menu-dependency-free;
  }

  [data-barba-namespace='small-size'] & {
    color: $c-menu-small-size;
  }

  [data-barba-namespace='core'] & {
    color: $c-menu-core;
  }

  [data-barba-namespace='router'] & {
    color: $c-menu-router;
  }

  [data-barba-namespace='prefetch'] & {
    color: $c-menu-prefetch;
  }

  [data-barba-namespace='change-log'] & {
    color: $c-menu-change-log;
  }
}

.feature__container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  // will-change: transform;

  p {
    font-size: 1.4rem;
    line-height: 1.8rem;

    @include mq(m) {
      font-size: 1.6rem;
      line-height: 2.2rem;
    }
  }

  @include mq(s) {
    align-items: center;
    // margin-top: 10rem;
    padding-top: 10rem;
  }
}

.feature__title {
  font-family: 'Space Mono';
  font-size: 3.2rem;
  font-weight: 400;
  text-align: center;

  @include mq(m) {
    top: -5rem;
    font-size: 5rem;
  }
}

.feature__bodymovin {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: auto;
}

.feature__box {
  position: relative;
  box-shadow: 0 1px 15px rgba($gray-light, 0.3);
  background: rgba($white, 0.8);
  border-radius: 10px;

  &>div {
    padding: 2rem;
  }

  @include mq(s) {
    top: 15rem;
    max-width: 70vw;
  }

  @include mq(l) {
    width: 70rem;
  }
}

.feature__box__body {
  display: grid;
  grid-template-columns: 1fr;

  @include mq(l) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.feature__box__column,
[class*='feature__box__column--'] {
  &[class*='two'] {
    grid-column: span 2;
  }

  &[class*='three'] {
    grid-column: span 3;
  }

  &[class*='four'] {
    grid-column: span 4;
  }
}

.feature__box__body__title {
  margin: 0;
  font-family: 'Space Mono';
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
}

.feature__box__body__text {
  margin: 0 0 1rem;
  font-size: 2rem;
}

.feature__box__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 0.1px solid $gray-lighter;
}

.feature .logo.featured {
  @include center-x;
  z-index: 10;
  top: 10rem;
  width: 23.5rem;

  .base {
    position: relative;
    z-index: 100;
  }

  .big {
    display: block;
  }

  @include mq(m) {
    top: 4rem;
  }
}
