[data-barba-namespace*='page'] {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 16rem 4rem 6rem;

  @include mq(m) {
    padding: 25rem 11.19% 0;
  }
}

[data-barba-namespace*='page--'][data-barba-namespace*='--black'] {
  &::before {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $c-gray-darker;
  }
}

.page-wrapper {
  width: 100%;
  height: 100%;

  .icon--barba {
    stroke-width: 0;
  }
}

.page-inner {
  @include mq(m) {
    padding: 5rem;
  }
}

.page__header {
  h1 {
    margin: 0;
    color: $c-blue-light;
    font-family: $ff-alt;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 3.2rem;

    @include mq(m) {
      font-size: 3.6rem;
      line-height: 4.2rem;
    }

    @include mq(l) {
      font-size: 6.5rem;
      line-height: 6.5rem;
    }

    [data-barba-namespace*='--black'] & {
      color: $white;
    }
  }

  p {
    margin: 0;
    margin-top: 2rem;
    font-size: 1.8rem;
    line-height: 2.4rem;

    @include mq(m) {
      font-size: 2.4rem;
      line-height: 3.2rem;
    }

    @include mq(l) {
      margin-top: 5.4rem;
      font-size: 3.5rem;
      line-height: 4.8rem;
    }

    [data-barba-namespace*='--black'] & {
      color: $white;
    }
  }
}

.page__separator {
  width: 5rem;
  height: 0.2rem;
  margin: 5rem 0;
  background: $c-blue-medium;
}
