<%- partial('components/common/big-title.ejs', {
  title: page.title,
  modifier: page.modifier,
}) %>

<section class="page-wrapper">
  <div class="page-inner">

    <div class="page__header">
      <%- page.content %>
    </div>

    <% if (page.separator) {%>
    <div class="page__separator"></div>
    <% } %>

    <% if (is_current('/showcase')) {%>
    <%- partial('components/showcase/showcase-cta.ejs') %>
    <% } %>
  </div>

  <% if (page.grid) { %>
  <%- partial('components/common/grid.ejs', {
    grid: page.grid,
    namespace: page.namespace,
    name: page.name
    }) %>
  <% } %>
</section>
