pre,
code {
  font-family: "Source Code Pro", Monaco, Menlo, Consolas, monospace;
  color: #4d4d4c;
  background: #eee;
  font-size: 1.5rem;
}

code {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ddd;
  padding: 0 5px;
}

pre {
  padding: 10px 15px;
  padding-bottom: 0;
  line-height: 22px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

pre code {
  border: none;
  display: block;
  padding: 0;
}

.highlight {
  background: $c-blue-lightest;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0 15px;
  color: #4d4d4c;
  overflow: auto;
  margin: 0;
}

.highlight figcaption {
  zoom: 1;
  margin: -5px 0 5px;
  font-size: 0.9em;
  color: #999;
}

.highlight figcaption:before,
.highlight figcaption:after {
  content: "";
  display: table;
}

.highlight figcaption:after {
  clear: both;
}

.highlight figcaption a {
  float: right;
}

.highlight pre {
  padding: 0;
  border: none;
  background: none;
}

pre .comment,
pre .title {
  color: #8e908c;
}

pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}

pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f5871f;
}

pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #718c00;
}

pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #718c00;
}

pre .css .hexcolor {
  color: #3e999f;
}

pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}

pre .keyword,
pre .javascript .function {
  color: #8959a8;
}

.highlight {
  .gutter { display: none; }
}

