.highlight {
  overflow: auto;
  margin: 0;
  background: $c-blue-lightest;
  border-radius: 4px;

  .gutter { display: none; }

  th,
  td,
  tr {
    border: 0;
    padding: 1rem;
  }

  pre {
    margin: 0;
    color: $c-gray-dark;
    font-family: 'Source Code Pro', Monaco, Menlo, Consolas, monospace;
    line-height: 1.6rem;
    @include mq(s) {
      line-height: 2rem;
    }
    @include mq(l) {
      line-height: 2.5rem;
    }

    .comment,
    .title {
      color: $c-doc-comment;
    }

    .variable,
    .attribute,
    .tag,
    .regexp,
    .ruby .constant,
    .xml .tag .title,
    .xml .pi,
    .xml .doctype,
    .html .doctype,
    .css .id,
    .css .class,
    .css .pseudo {
      color: $c-doc-attribute;
    }

    .number,
    .rocessor,
    .built_in,
    .literal,
    .params,
    .constant {
      color: $c-doc-number;
    }

    .class,
    .css .rules .attribute {
      color: $c-doc-string;
    }

    .string,
    .value,
    .inheritance,
    .header,
    .ruby .symbol,
    .xml .cdata {
      color: $c-doc-string;
    }

    .css .hexcolor {
      color: $c-doc-color;
    }

    .function,
    .javascript .title {
      color: $c-doc-function;
    }

    .keyword,
    .javascript .function {
      color: $c-doc-keyword;
    }
  }

  figcaption {
    margin: -5px 0 5px;
    color: $c-gray-medium;
    font-size: 1.2em;
    zoom: 1;
  }

  figcaption::before,
  figcaption::after {
    content: '';
    display: table;
    clear: both;
  }

  figcaption a {
    float: right;
  }
}

