
.docs {
  @import 'code-snippets';
}

.docs__page-transition {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: $c-blue-light;
}

// Side nav

.docs__side-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 25vw;
  min-height: 100vh;
  padding-top: 14rem;
  background: $c-blue-lightest;
}

.docs__side-nav__list {
  display: block;
  overflow: auto;
  margin-left: 1rem;
  padding: 0;
  list-style: none;
  @include mq(s) {
    margin-left: 5rem;
  }
  @include mq(l) {
    margin-left: 50%;
  }

  & > li {
    border-bottom: 1px solid rgba($black, 0.1);

    a {
      color: $gray-darker;
    }
  }
}

.docs__side-nav__title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 2rem;
  text-transform: uppercase;
  opacity: 0.3;
  @include mq(s) {
    font-size: 1.2rem;
  }
  @include mq(l) {
    font-size: 1.5rem;
  }

  &.is-open {
    opacity: 0.7;
  }
}

.docs__side-nav__sublist {
  margin: 0;
  padding-left: 1rem;
  list-style: none;
  @include mq(s) {
    padding-left: 2rem;
  }
  @include mq(l) {
    padding-left: 3rem;
  }

  li .is-open {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0.5em;
      left: -1em;
      width: 0;
      height: 0;
      border-width: 0.35em 0 0.35em 0.45em;
      border-style: solid;
      border-color: transparent $c-blue-light;
      @include mq(l) {
        top: 0.3em;
      }
    }
  }
}

.docs__side-nav__subtitle {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  @include mq(s) {
    font-size: 1.2rem;
  }
  @include mq(l) {
    font-size: 1.5rem;
  }

  &.is-open {
    color: $c-blue-light;
  }
}

// Lateral nav

.docs__lateral-nav {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  @include mq(l) {
    right: 20vw;
  }

  a {
    display: flex;
    align-items: center;
    margin: 2rem;
    border: 0;
    box-shadow: 0 2px 2px $gray-light;
    background: $white;
    color: $c-gray-darker;
    font-family: 'Space Mono';
    font-size: 1.2rem;
    border-radius: 4px;
    fill: $c-gray-darker;

    @include mq(s) {
      font-size: 1.5rem;

      &:hover {
        background: $c-blue-light;
        color: $white;
        fill: $white;
      }
    }
    @include mq(l) {
      font-size: 2rem;
    }
  }

  span {
    margin: 1rem;
  }

  .icon--barba {
    width: 2.1rem;
    height: 1.5rem;
    margin: 1rem;
    fill: inherit;
  }

}

// Content markdown

.docs__markdown {
  overflow: hidden;
  width: 74vw;
  margin-left: 25vw;
  padding: 12rem 2rem;

  @include mq(l) {
    min-width: 50vw;
    max-width: 80rem;
    padding: 12rem 6rem;
  }

  h1 {
    display: flex;
    margin: 0;
    color: $c-blue-light;
    font-family: 'Space Mono';
    font-size: 3.2rem;
    font-weight: 400;
    @include mq(s) {
      font-size: 4rem;
    }
    @include mq(l) {
      font-size: 5rem;
    }

    small {
      font-size: 1.5rem;
      @include mq(s) {
        font-size: 2rem;
      }
    }
  }

  h2,
  h3,
  h4,
  h5,
  p {
    margin: 0;
    font-family: 'Rubik';
  }

  h2 {
    padding-top: 1.5rem;
    font-size: 2rem;
    font-weight: lighter;
    @include mq(s) {
      padding-top: 2rem;
      font-size: 2.5rem;
    }
    @include mq(l) {
      padding-top: 3rem;
      font-size: 3.5rem;
    }
  }

  h3 {
    padding-top: 1.2rem;
    font-size: 1.5rem;
    font-weight: bold;
    @include mq(s) {
      padding-top: 1.2rem;
      font-size: 2rem;
    }
    @include mq(l) {
      padding-top: 1.2rem;
      font-size: 2.5rem;
    }
  }

  h4 {
    padding-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    @include mq(s) {
      font-size: 1.5rem;
    }
    @include mq(l) {
      font-size: 2rem;
    }
  }

  h5 {
    padding-top: 0.8rem;
    font-size: 1.2rem;
    font-weight: bold;
    @include mq(s) {
      font-size: 1.4rem;
    }
    @include mq(l) {
      font-size: 1.7rem;
    }
  }

  h6 {
    padding-top: 0.8rem;
    font-size: 1.1rem;
    font-weight: bold;
    @include mq(s) {
      font-size: 1.3rem;
    }
    @include mq(l) {
      font-size: 1.6rem;
    }
  }

  p {
    font-size: 0.9rem;
    @include mq(s) {
      font-size: 1.2rem;
    }
    @include mq(l) {
      font-size: 1.5rem;
    }
  }

  table {
    display: block;
    overflow: auto;
    width: 100%;

    th,
    td,
    tr {
      border: 1px solid $c-gray-medium;
      padding: 0.5rem ;
      font-size: 1rem;
      @include mq(s) {
        padding: 0.7rem;
        font-size: 1.2rem;
      }
      @include mq(l) {
        padding: 1rem;
        font-size: 1.5rem;
      }
    }
  }

  ul {
    padding-left: 2rem;
    font-size: 0.8rem;
    list-style: none;
    @include mq(s) {
      padding-left: 4rem;
      font-size: 1.1rem;
    }
    @include mq(l) {
      padding-left: 6rem;
      font-size: 1.4rem;
    }

    li {
      padding: 0.5rem;
    }

    li::before {
      content: '';
      position: relative;
      top: 1em;
      left: -1em;
      display: block;
      width: 0;
      height: 0;
      border-width: 0.35em 0 0.35em 0.45em;
      border-style: solid;
      border-color: transparent $c-blue-light;
    }
  }

  code {
    background: $c-blue-lightest;
    border-radius: 4px;
  }

  blockquote {
    margin: 2rem 0;
    border-left: 3px solid $gray-lighter;
    padding: 0 4rem;
    color: $gray-light;
  }
}
