
.docs {
  @import 'code-snippets';
}

.docs__markdown {
  overflow: hidden;
  width: 75vw;
  margin-left: 25vw;
  padding: 12rem 2rem;

  @include mq(l) {
    min-width: 50vw;
    max-width: 80rem;
    padding: 12rem 6rem;
  }

  h1 {
    display: flex;
    margin: 0;
    color: $c-blue-light;
    font-family: 'Space Mono';
    font-size: 5rem;
    font-weight: 400;

    small {
      font-size: 2rem;
    }
  }

  h2,
  h3,
  h4,
  h5,
  p {
    margin: 0;
    font-family: 'Rubik';
  }

  h2 {
    font-size: 4rem;
    font-weight: lighter;
  }

  h3 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  h4 {
    font-size: 2rem;
    font-weight: bold;
  }

  h5 {
    font-size: 1.7rem;
    font-weight: bold;
  }

  p {
    font-size: 1.2rem;
  }

  figure {
    overflow-x: auto;
    margin: 0;
  }
}

.docs__content__section {
  &:not(:first-child) {
    margin-top: 12rem;
  }
}

.docs__title {
  margin: 0;
  color: $c-blue-light;
  font-family: 'Space Mono';
  font-size: 4rem;
  font-weight: 400;
  line-height: 4.4rem;
}

.docs__subtitle {
  margin: 3.2rem 0 0;
  font-size: 3rem;
  font-weight: 300;
  line-height: 3.5rem;
}

.docs__text {
  margin: 2rem 0 0;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.docs__separator {
  width: 100%;
  height: .1rem;
  margin: 4rem 0;
  background: rgba($c-gray-darker, .1);
}

.docs__list {
  padding: 0;
  list-style: none;
}

.docs__list__el {
  position: relative;
  padding-left: 4rem;
  font-size: 1.5rem;
  line-height: 2.2rem;

  &:not(:first-child) {
    margin-top: 1.5rem;
  }

  .icon--barba {
    position: absolute;
    top: .6rem;
    left: 2rem;
    width: 1.2rem;
    height: 1.2rem;
    fill: $c-blue-medium;
  }

  span {
    display: block;
  }
}

.docs__image {
  display: block;
  width: 100%;
}

// Side nav

.docs__side-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 25vw;
  height: fit-content;
  min-height: 100vh;
  background: $c-blue-lightest;
  padding-top: 14rem;
}

.docs__side-nav__list {
  margin-left: 2rem;
  padding: 0;
  list-style: none;

  & > li {
    border-bottom: 1px solid rgba($black, .1);
    a {
      color: $gray-darker;
    }
  }
}

.docs__side-nav__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  text-transform: uppercase;
  opacity: .3;
}

.docs__side-nav__sublist {
  margin: 0;
  padding-left: 2rem;
  list-style: none;
}

.docs__side-nav__subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}
