[data-barba-namespace*='page'] {
  width: 100%;
  height: 100%;
  padding: 0;

  @include mq(m) {
    padding: 25rem 11.19% 0;
  }
}

[data-barba-namespace*='page--'][data-barba-namespace*='--black'] {
  &::before {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $c-gray-darker;
  }
}

.page-wrapper {
  width: 100%;
  height: 100%;
}

.page-inner {
  @include mq(m) {
    padding: 0 5rem;
  }
}

.page__title {
  margin: 0;
  color: $c-blue-light;
  font-family: 'Space Mono';
  font-size: 6.5rem;
  font-weight: 400;
  line-height: 6.5rem;

  [data-barba-namespace*='--black'] & {
    color: $white;
  }
}

.page__headline {
  margin: 0;
  margin-top: 5.4rem;
  font-size: 3.5rem;
  line-height: 4.8rem;

  [data-barba-namespace*='--black'] & {
    color: $white;
  }
}

.page__separator {
  width: 5rem;
  height: .2rem;
  margin: 5rem 0;
  background: $c-blue-medium;
}
