body.prevent-scroll {
  overflow: hidden;
  margin-left: calc(100vw - 100%);
  height: 100vh;
}

.site-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content-inner {
  @include owl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  flex-grow: 1;
  padding: $spacing * 2.5;
}

.intro__buttons {
  display: flex;
  flex-direction: column;

  @include mq(m) {
    flex-direction: row;

    .button + .button {
      margin-left: 2rem;
    }
  }

  .button {
    margin-top: 1rem;
  }
}
