body.prevent-scroll {
  overflow: hidden;
  height: 100vh;
  margin-left: calc(100vw - 100%);
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
}

main {
  display: flex;
  flex: 1;
}

.site-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.site-content-inner {
  @include owl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  &[data-barba-namespace='docs'] {
    display: block;
    padding: 0;
  }
}

.intro__buttons {
  display: flex;
  flex-direction: column;

  @include mq(m) {
    flex-direction: row;

    .button + .button {
      margin-left: 2rem;
    }
  }

  .button {
    margin-top: 1rem;
  }
}
