<div class="feature__box__column--two">
  <div class="feature__box__column__icon--big">
    <%- partial('components/common/image.ejs', {
      src: theme.root + 'assets/svg/modular.svg',
      alt: 'modular icon',
    }) %>
  </div>
</div>

<div class="feature__box__column--two">
  <p class="feature__box__body__text">
    <strong>Transitions</strong> are simple objects with easy to understand <strong>hooks</strong>.<br>
    Define <strong>rules</strong> and let barba.js <strong>resolves</strong> the right transition for you.
  </p>
</div>

<div class="feature__box__column--two">
  <p class="feature__box__body__text">
    Oh yes, it weights only <strong>9kB</strong> minified and compressed with every functionality included…
  </p>
</div>
