<div class="menu">

  <div class="menu__pages">

    <ul class="menu__pages__list">
      <li class="menu__pages__item">
        <div class="menu__pages__item__title">
          Features
        </div>
        <div class="menu__pages__item__subpages menu-subpages">
          <ul class="menu-subpages__list">
            <li class="menu-subpages__item">
              <a class="menu-subpages__item__link"
                 href="/features/dependency-free">
                Dependency Free
              </a>
            </li>
            <li class="menu-subpages__item">
              <a class="menu-subpages__item__link"
                 href="/features/small-size">
                Small size
              </a>
            </li>
            <li class="menu-subpages__item">
              <a class="menu-subpages__item__link"
                 href="/features/open-source">
                Open Source
              </a>
            </li>
            <li class="menu-subpages__item">
              <a class="menu-subpages__item__link"
                 href="/features/views-namespace-logic">
                Views/Namespaces logic 
              </a>
            </li>
            <li class="menu-subpages__item">
              <a class="menu-subpages__item__link"
                 href="/features/prefetch">
                Prefetch 
              </a>
            </li>
            <li class="menu-subpages__item">
              <a class="menu-subpages__item__link"
                 href="/features/change-log">
                Change log
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="menu__pages__item">
        <a class="menu__pages__item__link"
             href="/about">
          About
        </a>
      </li>
      <li class="menu__pages__item">
        <a class="menu__pages__item__link"
           href="/example">
          Example
        </a>
      </li>
      <li class="menu__pages__item">
        <a class="menu__pages__item__link"
             href="/showcase">
          Showcase
        </a>
      </li>
      <li class="menu__pages__item">
        <a class="menu__pages__item__link"
             href="/docs">
          Docs
        </a>
      </li>
    </ul>

  </div>

</div>
