.logo {
  font-size: 0;
  width: 100%;

  svg {
    overflow: visible;
    width: 100%;
  }

  svg.gray {
    .base {
      stroke: #E3E3E3;
    }
  }

  svg.holed {
    .hover {
      // a {
      //   opacity: 1!important;
      // }
      
      rect,
      circle,
      path {
        fill: #fff;
      }
    }
  }

  .base {
    .js__rect {
      opacity: 0;
    }
    
    .js__rect__alternate {
      display: none;
    }
  }
  
  .js.front {
    .js__rect_alternate {
      display: block;
    } 
  }
  
  .hover a {
    opacity: 0;
    //display: none;
  }
}

