

.logo {
  width: 100%;
  font-size: 0;

  svg {
    overflow: visible;
    width: 100%;
  }

  .base,
  .js__letter {
    transition: stroke 0.4s, fill 0.4s;
  }

  svg.gray,
  svg.fillgray {
    .base {
      stroke: $gray-lightest;
    }

    .js__letter {
      fill: $gray-lightest;
    }
  }

  svg.holed {
    .hover {
      // a {
      //   opacity: 1!important;
      // }

      rect,
      circle,
      path {
        fill: $white;
      }
    }
  }

  .base {
    .js__rect {
      opacity: 0;
    }

    .js__rect__alternate {
      display: none;
    }
  }

  .js.front {
    .js__rect_alternate {
      display: block;
    }
  }

  .hover a {
    opacity: 0;
  }

  .big > g {
    opacity: 0;
    pointer-events: none;
  }
}


.featured {
  svg {
    .base {
      stroke: $gray-lightest;
    }

    .js__letter {
      fill: $gray-lightest;
    }
  }

  .hover {
    rect,
    circle,
    path {
      fill: $white;
    }
  }

}

.big * {
  transition: transform 0.4s ease-in-out;
}

.featured--dep {
  .hover .b1 {
    opacity: 1;
  }

  .big1 {
    opacity: 1 !important;

    rect {
      transform-origin: 0 70%;

      &.to-animate {
        @include big-rectangle(20deg, 75vw, -40vw);
      }
    }

    circle {
      transform-origin: 0 0%;

      &.to-animate {
        @include big-circle(20deg, -75vw, -30vw);
      }
    }
  }
}

.featured--small {
  .hover .a2 {
    opacity: 1;
  }

  .big2 {
    opacity: 1 !important;

    rect {
      transform-origin: 0 70%;

      &.to-animate {
        transform: scale(12) rotate(-30deg) translate(-20%, 40%);
        @include mq(s) {
          transform: scale(15) rotate(-30deg) translate(-20%, 40%);
        }
        @include mq(m) {
          transform: scale(21) rotate(-30deg) translate(-13vw, 8vh);
        }
        @include mq(l) {
          transform: scale(30) rotate(-30deg) translate(-22%, 3.5vh);
        }
      }
    }

    circle {
      transform-origin: 0 0%;

      &.to-animate {
        transform: scale(12) rotate(20deg) translate(8%, -60%);
        @include mq(s) {
          transform: scale(15) rotate(20deg) translate(8%, -60%);
        }
        @include mq(m) {
          transform: scale(21) rotate(20deg) translate(4vw, -12vh);
        }
        @include mq(l) {
          transform: scale(30) rotate(20deg) translate(2vw, -13vh);
        }
      }
    }
  }
}

.featured--open {
  .hover .r3 {
    opacity: 1;
  }

  .big3 {
    opacity: 1 !important;

    rect {
      transform-origin: 0 70%;

      &.to-animate {
        transform: scale(21) rotate(30deg) translate(3vw, 0vh);
      }
    }

    path {
      transform-origin: 0 0%;

      &.to-animate {
        transform: scale(21) rotate(-30deg) translate(-8vw, 8vh);
      }
    }
  }
}

.featured--views {
  .hover .b4 {
    opacity: 1;
  }

  .big4 {
    opacity: 1 !important;

    rect {
      transform-origin: 0 70%;

      &.to-animate {
        transform: scale(21) rotate(30deg) translate(3vw, 0vh);
      }
    }

    circle {
      transform-origin: 0 0%;

      &.to-animate {
        transform: scale(21) rotate(30deg) translate(-1vw, 0vh);
      }
    }
  }
}

.featured--prefetch {
  .hover .a5 {
    opacity: 1;
  }

  .big5 {
    opacity: 1 !important;

    rect {
      transform-origin: 0 70%;

      &.to-animate {
        transform: scale(21) rotate(30deg) translate(3vw, 0vh);
      }
    }

    circle {
      transform-origin: 0 0%;

      &.to-animate {
        transform: scale(21) rotate(30deg) translate(-1vw, 0vh);
      }
    }
  }
}

.featured--change {
  .hover .c6 {
    opacity: 1;
  }

  svg {
    .js__letter {
      display: none;
      fill: $c-blue-medium;
      opacity: 0.1;

      &.to-animate {
        transform: scale(18) translate(-10%, 10%) rotate(-30deg);
      }

      @include mq(m) {
        display: block;
      }
    }
  }
}


