

.logo {
  width: 100%;
  font-size: 0;

  svg {
    overflow: visible;
    width: 100%;
  }

  .base,
  .js__letter {
    transition: stroke 0.4s, fill 0.4s;
  }

  svg.gray,
  svg.fillgray {
    .base {
      stroke: $gray-lightest;
    }

    .js__letter {
      fill: $gray-lightest;
    }
  }

  svg.holed {
    .hover {
      // a {
      //   opacity: 1!important;
      // }

      rect,
      circle,
      path {
        fill: $white;
      }
    }
  }

  .base {
    .js__rect {
      opacity: 0;
    }

    .js__rect__alternate {
      display: none;
    }
  }

  .js.front {
    .js__rect_alternate {
      display: block;
    }
  }

  .hover a {
    opacity: 0;
  }

  .big > g {
    opacity: 0;
    pointer-events: none;
  }
}


.featured {
  svg {
    .base {
      stroke: $gray-lightest;
    }

    .js__letter {
      fill: $gray-lightest;
    }
  }

  .hover {
    rect,
    circle,
    path {
      fill: $white;
    }
  }

}

.big * {
  transition: transform 0.4s ease-in-out;
}

.featured--dep {
  .hover .b1 {
    opacity: 1;
  }

  .big1 {
    opacity: 1 !important;

    rect {
      transform-origin: 0 70%;

      &.to-animate {
        @include big-letter(20deg, 100%, -40%);
      }
    }

    circle {
      transform-origin: 0 0%;

      &.to-animate {
        @include big-letter(20deg, -75%, -30%);
      }
    }
  }
}

.featured--small {
  .hover .a2 {
    opacity: 1;
  }

  .big2 {
    opacity: 1 !important;

    rect {
      transform-origin: 0 70%;

      &.to-animate {
        @include big-letter(-20deg, -220%, 300%);
      }
    }

    circle {
      transform-origin: 0 0%;

      &.to-animate {
        @include big-letter(-20deg, 75%, -350%);
      }
    }
  }
}

.featured--b-core {
  .hover .r3 {
    opacity: 1;
  }

  .big3 {
    opacity: 1 !important;

    rect {
      transform-origin: 0 70%;

      &.to-animate {
        @include big-letter(20deg, 75%, -80%);
      }
    }

    path {
      transform-origin: 0 0%;

      &.to-animate {
        @include big-letter(20deg, -120%, 500%);
      }
    }
  }
}

.featured--b-router {
  .hover .b4 {
    opacity: 1;
  }

  .big4 {
    opacity: 1 !important;

    rect {
      transform-origin: 0 70%;

      &.to-animate {
        @include big-letter(20deg, -140%, 140%);
      }
    }

    circle {
      transform-origin: 0 0%;

      &.to-animate {
        @include big-letter(20deg, 50%, -150%);
      }
    }
  }
}

.featured--b-prefetch {
  .hover .a5 {
    opacity: 1;
  }

  .big5 {
    opacity: 1 !important;

    rect {
      transform-origin: 0 70%;

      &.to-animate {
        @include big-letter(-20deg, -20%, 80%);
      }
    }

    circle {
      transform-origin: 0 0%;

      &.to-animate {
        @include big-letter(-20deg, -250%, -200%);
      }
    }
  }
}

.featured--change {
  .hover .c6 {
    opacity: 1;
  }

  svg {
    .js__letter {
      display: none;
      fill: $c-blue-medium;
      opacity: 0.1;

      &.to-animate {
        transform: scale(18) translate(-10%, 10%) rotate(-30deg);
      }

      @include mq(m) {
        display: block;
      }
    }
  }
}


