// Content markdown

.docs__markdown {
  overflow: hidden;
  width: 100%;
  padding: 12rem 3rem;

  @include mq(m) {
    max-width: 60vw;
    left: calc(28vw + ((100% - 28vw) / 2) - (60vw / 2));
    position: relative;
  }

  @include mq(l) {
    max-width: 55vw;
    left: calc(380px + ((100% - 380px) / 2) - (55vw / 2));
    position: relative;
    padding: 12rem 4rem 6rem 4rem;
  }

  h1 {
    display: flex;
    margin: 0;
    padding-bottom: 2rem;
    color: $c-blue-light;
    font-family: $ff-alt;
    font-size: 3rem;
    font-weight: 400;

    @include mq(s) {
      font-size: 4rem;
    }

    @include mq(l) {
      font-size: 5rem;
    }

    small {
      font-size: 1.5rem;

      @include mq(s) {
        font-size: 2rem;
      }
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    font-family: $ff-default;
  }

  h2 {
    padding-top: 2.8rem;
    font-size: 2.2rem;
    font-weight: 100;

    @include mq(s) {
      padding-top: 3.2rem;
      font-size: 2.8rem;
    }

    @include mq(l) {
      padding-top: 4rem;
      font-size: 3.5rem;
    }
  }

  h3 {
    padding-top: 1.2rem;
    font-size: 1.8rem;
    font-weight: 700;

    @include mq(s) {
      padding-top: 1.6rem;
      font-size: 2.2rem;
    }

    @include mq(l) {
      padding-top: 2rem;
      font-size: 2.8rem;
    }
  }

  h4 {
    padding-top: 1.2rem;
    font-size: 1.6rem;
    font-weight: 700;

    @include mq(s) {
      padding-top: 1.4rem;
      font-size: 1.8rem;
    }

    @include mq(l) {
      padding-top: 1.8rem;
      font-size: 2.4rem;
    }
  }

  h5 {
    padding-top: 0.8rem;
    font-size: 1.5rem;
    font-weight: 700;

    @include mq(s) {
      padding-top: 1rem;
      font-size: 1.7rem;
    }

    @include mq(l) {
      padding-top: 1.3rem;
      font-size: 2.2rem;
    }
  }

  h6 {
    padding-top: 0.8rem;
    font-size: 1.3rem;
    font-weight: 700;

    @include mq(s) {
      padding-top: 1rem;
      font-size: 1.5rem;
    }

    @include mq(l) {
      padding-top: 1.2rem;
      font-size: 2rem;
    }
  }

  p {
    padding-top: 0.5rem;
    font-size: 1.2rem;

    @include mq(s) {
      padding-top: 0.7rem;
      font-size: 1.4rem;
    }

    @include mq(l) {
      padding-top: 0.9rem;
      font-size: 1.6rem;
    }
  }

  table {
    display: block;
    overflow: auto;
    width: 100%;
    margin: 0.5rem 0 1rem;

    th,
    td,
    tr {
      padding: 0.5rem;
      font-size: 1.2rem;
      border: 1px solid $c-gray-light;

      @include mq(s) {
        padding: 0.7rem;
        font-size: 1.2rem;
      }

      @include mq(l) {
        padding: 1rem;
        font-size: 1.5rem;
      }
    }
  }

  ul {
    padding-left: 2rem;
    font-size: 1.2rem;
    list-style: none;

    @include mq(s) {
      padding-left: 4rem;
      font-size: 1.4rem;
    }

    @include mq(l) {
      padding-left: 6rem;
      font-size: 1.8rem;
    }

    li {
      padding-left: 0.5rem;
    }

    li::before {
      content: '';
      position: relative;
      top: 1em;
      left: -1em;
      display: block;
      width: 0;
      height: 0;
      border-width: 0.35em 0 0.35em 0.45em;
      border-style: solid;
      border-color: transparent $c-blue-light;
    }
  }

  a:not([title='Badge']):not(.headerlink) {
    position: relative;
    color: $c-blue-medium;
    white-space: nowrap;

    &::before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 1px;
      background: currentColor;
      opacity: 0.2;
      transition: opacity 350ms ease;
      pointer-events: none;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }

  .headerlink {
    position: absolute;
    left: -30px;
    width: 30px;
    opacity: 0;
    transition: opacity 250ms ease;

    &::before {
      content: '#';
      color: $c-blue-light;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;

    &:hover {
      .headerlink {
        opacity: 1;
      }
    }
  }

  h1 a.headerlink {
    display: none;
  }
}
