.docs {
  width: 100%;

  a[title="Badge"] {
    display: inline-flex;

    @media (prefers-color-scheme: dark) {
      opacity: 0.8;
      transition: opacity 250ms ease;

      &:hover {
        opacity: 1;
      }
    }

    img {
      border-radius: 4px;
    }
  }

  img[title="Badge"] {
    border-radius: 4px;

    @media (prefers-color-scheme: dark) {
      opacity: 0.8;
    }
  }

  // Code-snippets formatting
  .highlight {
    overflow: auto;
    margin: 2rem 0;
    background: $c-blue-lightest;
    border-radius: 4px;

    @media (prefers-color-scheme: dark) {
      background: $c-darkmode-dark;
    }

    .gutter {
      display: none;
    }

    table {
      margin: 0;
      overflow: hidden;
    }

    tbody {
      display: flex;
    }

    th,
    td,
    tr {
      padding: 1rem;
      border: 0;
    }

    /* stylelint-disable selector-max-combinators, selector-max-compound-selectors, selector-max-class, no-descending-specificity */
    pre {
      margin: 0;
      color: $c-gray-dark;
      font-family: $ff-code;
      font-weight: 400;
      line-height: 1.6rem;

      @media (prefers-color-scheme: dark) {
        color: $c-darkmode-code;
      }

      @include mq(s) {
        line-height: 2rem;
      }

      @include mq(l) {
        line-height: 2.5rem;
      }

      .comment,
      .title {
        color: $c-doc-comment;

        @media (prefers-color-scheme: dark) {
          color: $c-darkmode-comment;
        }
      }

      .variable,
      .attribute,
      .tag,
      .regexp,
      .ruby .constant,
      .xml .tag .title,
      .xml .pi,
      .xml .doctype,
      .html .doctype,
      .css .id,
      .css .class,
      .css .pseudo {
        color: $c-doc-attribute;

        @media (prefers-color-scheme: dark) {
          color: $c-darkmode-doc-attr;
        }
      }

      .number,
      .rocessor,
      .built_in,
      .literal,
      .params,
      .constant {
        color: $c-doc-number;

        @media (prefers-color-scheme: dark) {
          color: $c-darkmode-doc-number;
        }
      }

      .class,
      .css .rules .attribute {
        color: $c-doc-string;

        @media (prefers-color-scheme: dark) {
          color: $c-darkmode-doc-string;
        }
      }

      .string,
      .value,
      .inheritance,
      .header,
      .ruby .symbol,
      .xml .cdata {
        color: $c-doc-string;

        @media (prefers-color-scheme: dark) {
          color: $c-darkmode-doc-string;
        }
      }

      .css .hexcolor {
        color: $c-doc-color;
      }

      .function,
      .javascript .title {
        color: $c-doc-function;

        @media (prefers-color-scheme: dark) {
          color: $c-darkmode-doc-function;
        }
      }

      .keyword,
      .javascript .function {
        color: $c-doc-keyword;

        @media (prefers-color-scheme: dark) {
          color: $c-darkmode-doc-keyword;
        }
      }
    }

    figcaption {
      margin: -5px 0 5px;
      color: $c-gray-medium;
      font-size: 1.2em;
      zoom: 1;
    }

    figcaption::before,
    figcaption::after {
      content: '';
      display: table;
      clear: both;
    }

    figcaption a {
      float: right;
    }
  }
}

.docs__page-transition {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: $c-blue-light;

  @media (prefers-color-scheme: dark) {
    background-color: $c-darkmode-dark;
  }

  @include mq(m) {
    left: 28vw;
    width: calc(100vw - 28vw);
  }

  @include mq(l) {
    left: 380px;
    width: calc(100vw - 380px);
  }
}
