// Lateral nav

.docs__nav__lateral {
  position: static;
  display: flex;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq(m) {
    width: 74vw;
    margin-left: 25vw;
  }

  @include mq(l) {
    min-width: 50vw;
    max-width: 80rem;
    padding: 0rem 6rem;
  }

  .icon--barba {
    width: 2.1rem;
    height: 1.5rem;
    margin: 1rem;
    fill: inherit;
  }
}

.docs__nav__lateral__link,
.docs__nav__lateral__button {
  display: flex;
  align-items: center;
  margin: 2rem;
  color: $c-gray-darker;
  font-family: $ff-alt;
  font-size: 1.2rem;
  background: $white;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 2px 2px $gray-light;
  fill: $c-gray-darker;

  @include mq(s) {
    font-size: 1.5rem;

    &:hover {
      color: $white;
      background: $c-blue-light;
      fill: $white;
    }
  }

  @include mq(l) {
    font-size: 2rem;
  }
}

.docs__nav__lateral__link {
  width: 35%;
}

.docs__nav__lateral__button {
  display: flex;
  width: 30%;

  @include mq(m) {
    display: none;
  }
}

.docs__nav__lateral__label {
  margin: 1rem;
}
