<section class="docs">
  <div class="docs__page-transition"></div>

  <%- partial('./docs-nav') %>
  <%- partial('./docs-content') %>

  <% theme.docs.forEach(function(page) { %>
  <% if (page.subpages) { %>
  <% page.subpages.forEach(function(subpage) { %>
  <% if (is_current(subpage.url)) { %>
  <%- partial('./docs-nav-lateral', {
            page: subpage,
          }) %>
  <% }; %>
  <% }); %>
  <% }; %>
  <% if (is_current(page.url)) { %>
  <%- partial('./docs-nav-lateral', {
    page: page,
  }) %>
  <% }; %>
  <% }); %>

</section>
