<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Create badass, fluid and smooth transition between your website's pages.">
    <meta name="keywords" content="pjax, javascript, github, library, transition, ajax">
    <meta name="author" content="Luigi De Rosa">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@luruke" />
    <meta name="twitter:title" content="Barba.js" />
    <meta name="twitter:description" content="Create badass, fluid and smooth transition between your website's pages." />
    <meta name="twitter:image" content="https://farm6.staticflickr.com/5510/14338202952_93595258ff_z.jpg" />

    <title>Barba.js</title>

    <link rel="stylesheet" href="{{ site.baseurl }}css/styles.css">
  </head>
  <body>
    <main class="markdown-body">

