.feature__action,
[class*='feature__action--'] {
  display: flex;
  align-items: center;
  padding: 1rem 1.4rem;
  border-radius: 5rem;

  svg {
    width: 15px;
    height: 15px;
    margin-left: 1rem;
    stroke: none;
    fill: $white;
  }

  [data-feature-slug='dependency-free'] & {
    background-color: $c-menu-dependency-free-light;

    svg {
      fill: $c-menu-dependency-free;
      stroke: $c-menu-dependency-free;
    }
  }

  [data-feature-slug='small-size'] & {
    background-color: $c-menu-small-size-light;

    svg {
      fill: $c-menu-small-size;
      stroke: $c-menu-small-size;
    }
  }

  [data-feature-slug='core'] & {
    background-color: $c-menu-core-light;

    svg {
      fill: $c-menu-core;
      stroke: $c-menu-core;
    }
  }

  [data-feature-slug='router'] & {
    background-color: $c-menu-router-light;

    svg {
      fill: $c-menu-router;
      stroke: $c-menu-router;
    }
  }

  [data-feature-slug='prefetch'] & {
    background-color: $c-menu-prefetch-light;

    svg {
      fill: $c-menu-prefetch;
      stroke: $c-menu-prefetch;
    }
  }

  [data-barba-namespace='about'] & {
    background-color: $c-menu-about-light;

    svg {
      fill: $c-menu-about;
      stroke: $c-menu-about;
    }
  }
}

.feature__action__title {
  margin: 0;
  font-family: 'Space Mono';
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}
