.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 30rem;
  grid-gap: 3rem;
  margin: 0;
  padding: 5rem 0;
  list-style: none;

  @include mq(m) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, 250px);
  }
}

.grid__item__link {
  display: flex;
  align-items: center;
  color: $c-blue-medium;
  font-family: 'Space Mono';
  font-size: 1.1rem;
  line-height: 1.2rem;
  letter-spacing: 0.2rem;

  .icon--barba {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.5rem;
    fill: $c-blue-medium;
  }
}
