.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 5rem 0;
  list-style: none;
}

.grid__item {
  position: relative;
  width: 100%;
  margin-top: 3rem;

  @include mq(m) {
    width: 48%;
  }

  @include mq(l) {
    width: 31.57%;
  }
}

.grid__item__link {
  display: flex;
  align-items: center;
  color: $c-blue-medium;
  font-family: 'Space Mono';
  font-size: 1.1rem;
  line-height: 1.2rem;
  letter-spacing: 0.2rem;

  .icon--barba {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.5rem;
    fill: $c-blue-medium;
  }
}
