<div class="feature__box__column--three">
  <p class="feature__box__body__text">Barba prefetch automatically fetch and cache your pages. Is inspired by
    <a>quiklink</a></p>
</div>

<div class="feature__box__column--three">
  <p class="feature__box__body__text">Based on Intersection Observer, it processes <b>all eligible links</b> that enter
    the viewport.</p>
</div>
