<div class="feature__box__column--two">

</div>

<div class="feature__box__column--four">
  <p class="feature__box__body__text">B/Router allows you to use custom routes for page transitions. This module adds a
    route tule to Barba, that is less important than <b>custom()</b> but more than namespace.
  </p>
</div>
