<div class="feature__box__column--three">
  <p class="feature__box__body__text">Flexible and dependency free library that helps you creating fluid and smooth
    transitions between your website's pages.</p>
</div>

<div class="feature__box__column--three">
  <p class="feature__box__body__text">I helps reducing the delay between your pages, minimizing HTTP requests and
    enhancing your users's web experience.</p>
</div>
