<div class="feature__box__column--three">
  <div class="feature__box__column__icon">
    <%- partial('components/common/image.ejs', {
      src: '/assets/svg/flexible.svg',
      alt: 'flexible icon',
    }) %>
  </div>
  <p class="feature__box__body__text">Flexible and dependency free library that helps you creating fluid and smooth
    transitions between your website's pages.</p>
</div>

<div class="feature__box__column--three">
  <div class="feature__box__column__icon">
    <%- partial('components/common/image.ejs', {
      src: '/assets/svg/delay.svg',
      alt: 'delay icon',
    }) %>
  </div>
  <p class="feature__box__body__text">I helps reducing the delay between your pages, minimizing HTTP requests and
    enhancing your users's web experience.</p>
</div>
