<div class="feature__box__column--three">
  <div class="feature__box__column__icon">
    <%- partial('components/common/image.ejs', {
      src: '/assets/svg/prefetch.svg',
      alt: 'prefetch icon',
    }) %>
  </div>
  <p class="feature__box__body__text">Barba prefetch automatically fetch and cache your pages. Is inspired by
    <a>quiklink</a></p>
</div>

<div class="feature__box__column--three">
  <div class="feature__box__column__icon">
    <%- partial('components/common/image.ejs', {
      src: '/assets/svg/links.svg',
      alt: 'links icon',
    }) %>
  </div>
  <p class="feature__box__body__text">Based on Intersection Observer, it processes <b>all eligible links</b> that enter
    the viewport.</p>
</div>
