<div class="feature__box__column--two">
  <div class="feature__box__column__icon--big">
    <%- partial('components/common/image.ejs', {
      src: '/assets/svg/router.svg',
      alt: 'router icon',
    }) %>
  </div>
</div>

<div class="feature__box__column--four">
  <p class="feature__box__body__text">B/Router allows you to use custom routes for page transitions. This module adds a
    route tule to Barba, that is less important than <b>custom()</b> but more than namespace.
  </p>
</div>
