<div class="feature__box__column--two">
  <div class="feature__box__column__icon--big">
    <%- partial('components/common/image.ejs', {
      src: 'assets/svg/modular.svg',
      alt: 'modular icon',
    }) %>
  </div>
</div>

<div class="feature__box__column--four">
  <p class="feature__box__body__text">The modular structure provides exccellent compression. Oh yes, it weights only
    -7kb minified and compressed with every functionality included.
  </p>
</div>
