<div class="feature__box__column--two">
  <div class="feature__box__column__icon">
    <%- partial('components/common/image.ejs', {
      src: 'assets/svg/wrapper.svg',
      alt: 'wrapper icon',
    }) %>
  </div>
  <h2 class="feature__box__body__title colored">Wrapper</h2>
  <p class="feature__box__body__text">Is the main section that contains all your page structure and the <b>Barba
      container</b>.</p>
</div>

<div class="feature__box__column--two">
  <div class="feature__box__column__icon">
    <%- partial('components/common/image.ejs', {
      src: 'assets/svg/container.svg',
      alt: 'container icon',
    }) %>
  </div>
  <h2 class="feature__box__body__title colored">Container</h2>
  <p class="feature__box__body__text">Defines a section in which content is <b>updated automatically</b> when you
    navigate between pages.</p>
</div>

<div class="feature__box__column--two">
  <div class="feature__box__column__icon">
    <%- partial('components/common/image.ejs', {
      src: 'assets/svg/namespace.svg',
      alt: 'namespace icon',
    }) %>
  </div>
  <h2 class="feature__box__body__title colored">Namespace</h2>
  <p class="feature__box__body__text">Allow you to dedine a <b>unique</b> name for each pages. Mainly uses for
    transition rules and views.</p>
</div>
