.feature {
  @include get-all-space;
  padding: 4rem;
}

.feature__content {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.feature .logo {
  @include center-x;
  top: 4rem;
  width: 23.5rem;
}