.feature {
  @include get-all-space;
  padding: 4rem;
}

.feature__nav {
  position: fixed;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin: 0;
  padding: 0 5rem;
  list-style: none;

  transform: translateY(-50%);

  a {
    position: relative;
    display: flex;
    align-items: center;
    color: $c-gray-darker;
    font-family: 'Space Mono';
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.212rem;

    .icon--barba {
      width: 2.1rem;
      height: 1.5rem;
      fill: $c-gray-darker;
      stroke: $c-gray-darker;
    }

    span {
      position: absolute;
      top: 50%;
      white-space: nowrap;
      opacity: 0;
      pointer-events: none;
      transition: opacity .3s, transform .3s ease-out;
    }
  }
}

.feature__nav__el {
  &:first-child a {
    .icon--barba {
      margin-right: 1rem;
    }

    span {
      left: 3.1rem;
      transform: translate3d(-10%, -50%, 0);
    }
  }

  &:last-child a {
    .icon--barba {
      margin-left: 1rem;
    }

    span {
      right: 3.1rem;
      transform: translate3d(10%, -50%, 0);
    }
  }

  a:hover {
    span {
      opacity: 1;
      pointer-events: initial;
      transform: translate3d(0, -50%, 0);
    }
  }
}

.feature__content {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  height: 100%;
  margin: 0 auto;

  h1 {
    font-family: 'Space Mono';
    font-size: 5rem;
    font-weight: 400;

    [data-barba-namespace='dependency-free'] & {
      color: $c-menu-dependency-free;
    }

    [data-barba-namespace='small-size'] & {
      color: $c-menu-small-size;
    }

    [data-barba-namespace='open-source'] & {
      color: $c-menu-open-source;
    }

    [data-barba-namespace='views-namespaces-logic'] & {
      color: $c-menu-views-namespaces-logic;
    }

    [data-barba-namespace='prefetch'] & {
      color: $c-menu-prefetch;
    }

    [data-barba-namespace='change-log'] & {
      color: $c-menu-change-log;
    }
  }

  p {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

.feature .logo {
  @include center-x;
  top: 4rem;
  width: 23.5rem;

  .base {
    position: relative;
    z-index: 100;
  }
}
