.button,
[class*='button--'] {
  display: block;
  padding: 1rem 3.8rem;
  color: $c-blue-light;
  font-family: $ff-alt;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border: $btn-border-size solid $c-blue-light;
  fill: $c-blue-light;
  border-radius: 0.4rem;
  transition: background-color 0.4s, color 0.4s, border-color 0.4s;

  &:hover {
    color: $white;
    background: $c-blue-light;
  }
}

[class*='button--'][class*='--fill'] {
  color: $white;
  background: $c-blue-light;
  fill: $white;

  [data-feature-slug='dependency-free'] & {
    background-color: $c-menu-dependency-free;
    border-color: $c-menu-dependency-free;
  }

  [data-feature-slug='small-size'] & {
    background-color: $c-menu-small-size;
    border-color: $c-menu-small-size;
  }

  [data-feature-slug='core'] & {
    background-color: $c-menu-core;
    border-color: $c-menu-core;
  }

  [data-feature-slug='router'] & {
    background-color: $c-menu-router;
    border-color: $c-menu-router;
  }

  [data-feature-slug='prefetch'] & {
    background-color: $c-menu-prefetch;
    border-color: $c-menu-prefetch;
  }

  [data-barba-namespace='about'] & {
    background-color: $c-menu-about;
    border-color: $c-menu-about;
  }

  &:hover {
    background: $c-blue-medium;
    border-color: $c-blue-medium;

    [data-feature-slug='dependency-free'] & {
      background-color: darken($c-menu-dependency-free, 10%);
      border-color: darken($c-menu-dependency-free, 10%);
    }

    [data-feature-slug='small-size'] & {
      background-color: darken($c-menu-small-size, 10%);
      border-color: darken($c-menu-small-size, 10%);
    }

    [data-feature-slug='core'] & {
      background-color: darken($c-menu-core, 10%);
      border-color: darken($c-menu-core, 10%);
    }

    [data-feature-slug='router'] & {
      background-color: darken($c-menu-router, 10%);
      border-color: darken($c-menu-router, 10%);
    }

    [data-feature-slug='prefetch'] & {
      background-color: darken($c-menu-prefetch, 10%);
      border-color: darken($c-menu-prefetch, 10%);
    }

    [data-barba-namespace='about'] & {
      background-color: darken($c-menu-about, 10%);
      border-color: darken($c-menu-about, 10%);
    }
  }
}

[class*='button--'][class*='--fill'][class*='--black'] {
  background: $c-dark;
  border-color: transparent;
}

[class*='button--'][class*='--github'] {
  color: $c-dark;
  font-size: 11px;
  font-weight: 300;
  transition:
    background-color 0.4s,
    color 0.4s,
    border-color 0.4s,
    transform 0.4s;

  span {
    position: absolute;
    top: 50%;
    left: 100%;
    width: 160%;
    margin-left: 1rem;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.4s ease-in-out;

    .is-open & {
      opacity: 1;
    }
  }
}

[class*='button--'][class*='--rounded'] {
  width: $btn-rounded-size;
  height: $btn-rounded-size;
  padding: (($btn-rounded-size - $icon-size) / 2) - $btn-border-size;
  border-radius: 50%;
}

// Call to action
.cta {
  display: flex;
  align-items: center;
  margin-right: 4rem;
  padding: 0;
  background: transparent;
  border: 0;

  .icon--barba {
    width: 4rem;
    height: 4rem;
  }

  [class*='__caption'] {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    color: $c-blue-medium;
    font-family: $ff-alt;
    font-weight: 300;
    text-align: left;
    letter-spacing: 0.2rem;
  }

  [class*='__subtitle'] {
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-transform: uppercase;
  }

  [class*='__title'] {
    font-size: 3rem;
    line-height: 3rem;
  }
}
