.button,
[class*='button--'] {
  display: block;
  border: $btn-border-size solid $c-blue-light;
  padding: 1rem 3.8rem;
  color: $c-blue-light;
  font-family: 'Space Mono';
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  fill: $c-blue-light;
  border-radius: 0.4rem;

  transition: background-color 0.4s, color 0.4s, border-color 0.4s, transform 0.4s ease-in-out;

  &:hover {
    background: $c-blue-light;
    color: $white;
  }
}

[class*='button--'][class*='--fill'] {
  background: $c-blue-light;
  color: $white;
  fill: $white;

  &:hover {
    border-color: $c-blue-medium;
    background: $c-blue-medium;
  }
}

[class*='button--'][class*='--fill'][class*='--black'] {
  border-color: transparent;
  background: $c-dark;
}

[class*='button--'][class*='--rounded'] {
  width: $btn-rounded-size;
  height: $btn-rounded-size;
  padding: (($btn-rounded-size - $icon-size) / 2) - $btn-border-size;
  border-radius: 50%;
}
