.button,
[class*='button--'] {
  display: block;
  border: $btn-border-size solid $c-blue-light;
  padding: 1rem 3.8rem;
  color: $c-blue-light;
  font-family: 'Space Mono';
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  fill: $c-blue-light;
  border-radius: 0.4rem;

  transition: background-color 0.4s, color 0.4s, border-color 0.4s;

  &:hover {
    background: $c-blue-light;
    color: $white;
  }
}

[class*='button--'][class*='--fill'] {
  background: $c-blue-light;
  color: $white;
  fill: $white;

  &:hover {
    border-color: $c-blue-medium;
    background: $c-blue-medium;
  }
}

[class*='button--'][class*='--fill'][class*='--black'] {
  border-color: transparent;
  background: $c-dark;
}

[class*='button--'][class*='--github'] {
  color: $c-dark;
  font-size: 11px;
  font-weight: 300;

  span {
    position: absolute;
    top: 50%;
    left: 100%;
    width: 160%;
    margin-left: 1rem;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.4s ease-in-out;

    .is-open & {
      opacity: 1;
    }
  }
}

[class*='button--'][class*='--rounded'] {
  width: $btn-rounded-size;
  height: $btn-rounded-size;
  padding: (($btn-rounded-size - $icon-size) / 2) - $btn-border-size;
  border-radius: 50%;
}

// Call to action
.cta {
  display: flex;
  align-items: center;
  margin-right: 4rem;
  border: 0;
  padding: 0;
  background: transparent;

  .icon--barba {
    width: 4rem;
    height: 4rem;
  }

  [class*='__caption'] {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    color: $c-blue-medium;
    font-family: 'Space Mono';
    font-weight: 300;
    text-align: left;
    letter-spacing: 0.2rem;
  }

  [class*='__subtitle'] {
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-transform: uppercase;
  }

  [class*='__title'] {
    font-size: 3rem;
    line-height: 3rem;
  }
}
