.button,
[class*='button--'] {
  display: block;
  padding: 1rem 3.8rem;
  color: $c-blue-light;
  font-family: $ff-alt;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border: $btn-border-size solid $c-blue-light;
  fill: $c-blue-light;
  border-radius: 0.4rem;
  transition: background-color 0.4s, color 0.4s, border-color 0.4s;

  &:hover {
    color: $white;
    background: $c-blue-light;
  }

  [data-feature-order='0'] & {
    color: $c-menu-feature-0;
    border-color: $c-menu-feature-0;
  }

  [data-feature-order='1'] & {
    color: $c-menu-feature-1;
    border-color: $c-menu-feature-1;
  }

  [data-feature-order='2'] & {
    color: $c-menu-feature-2;
    border-color: $c-menu-feature-2;
  }

  [data-feature-order='3'] & {
    color: $c-menu-feature-3;
    border-color: $c-menu-feature-3;
  }

  [data-feature-order='4'] & {
    color: $c-menu-feature-4;
    border-color: $c-menu-feature-4;
  }
}

[class*='button--'][class*='--fill'] {
  color: $white;
  background: $c-blue-light;
  fill: $white;

  &:not([class*='--black']) {
    [data-feature-order='0'] & {
      background-color: $c-menu-feature-0;
      border-color: $c-menu-feature-0;
    }

    [data-feature-order='1'] & {
      background-color: $c-menu-feature-1;
      border-color: $c-menu-feature-1;
    }

    [data-feature-order='2'] & {
      background-color: $c-menu-feature-2;
      border-color: $c-menu-feature-2;
    }

    [data-feature-order='3'] & {
      background-color: $c-menu-feature-3;
      border-color: $c-menu-feature-3;
    }

    [data-feature-order='4'] & {
      background-color: $c-menu-feature-4;
      border-color: $c-menu-feature-4;
    }

    &:hover {
      background: $c-blue-medium;
      border-color: $c-blue-medium;

      [data-feature-order='0'] & {
        background-color: darken($c-menu-feature-0, 10%);
        border-color: darken($c-menu-feature-0, 10%);
      }

      [data-feature-order='1'] & {
        background-color: darken($c-menu-feature-1, 10%);
        border-color: darken($c-menu-feature-1, 10%);
      }

      [data-feature-order='2'] & {
        background-color: darken($c-menu-feature-2, 10%);
        border-color: darken($c-menu-feature-2, 10%);
      }

      [data-feature-order='3'] & {
        background-color: darken($c-menu-feature-3, 10%);
        border-color: darken($c-menu-feature-3, 10%);
      }

      [data-feature-order='4'] & {
        background-color: darken($c-menu-feature-4, 10%);
        border-color: darken($c-menu-feature-4, 10%);
      }
    }
  }
}

[class*='button--'][class*='--fill'][class*='--black'] {
  background: currentcolor;
  border-color: transparent;

  @media (prefers-color-scheme: dark) {
    .is-open & {
      background: $c-darkmode-light;
      border-color: $c-darkmode-light;
    }
  }
}

[class*='button--'][class*='--github'] {
  color: currentcolor;
  font-size: 11px;
  font-weight: 300;
  transition:
    background-color 0.4s,
    color 0.4s,
    border-color 0.4s,
    transform 0.4s;

  @media (prefers-color-scheme: dark) {
    color: $c-darkmode-dark;
  }

  span {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 100%;
    width: 160%;
    margin-left: 1rem;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.4s ease-in-out;

    .is-open & {
      pointer-events: auto;
      opacity: 1;

      @media (prefers-color-scheme: dark) {
        color: $c-darkmode-color;
      }
    }
  }
}

[class*='button--'][class*='--rounded'] {
  width: $btn-rounded-size;
  height: $btn-rounded-size;
  padding: (($btn-rounded-size - $icon-size) / 2) - $btn-border-size;
  border-radius: 50%;
}

// Call to action
.cta {
  display: flex;
  align-items: center;
  margin-right: 4rem;
  padding: 0;
  background: transparent;
  border: 0;

  .icon--barba {
    width: 4rem;
    height: 4rem;
  }

  [class*='__caption'] {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    color: $c-blue-medium;
    font-family: $ff-alt;
    font-weight: 300;
    text-align: left;
    letter-spacing: 0.2rem;
  }

  [class*='__subtitle'] {
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-transform: uppercase;
  }

  [class*='__title'] {
    font-size: 3rem;
    line-height: 3rem;
  }
}
