/* stylelint-disable selector-max-combinators, selector-max-compound-selectors, no-descending-specificity */
.logo {
  width: 100%;
  font-size: 0;
  // will-change: transform;

  svg {
    overflow: visible;
    width: 100%;
  }

  .links a {
    outline: none;
  }

  .base,
  .js__letter {
    transition: stroke 0.4s, fill 0.4s;
  }

  .base {
    .js__rect {
      opacity: 0;
    }

    .js__rect__alternate {
      display: none;
    }
  }

  svg.gray,
  svg.fillgray {
    .base {
      stroke: $gray-lightest;
    }

    .js__letter {
      fill: $gray-lightest;
    }
  }

  svg.holed {
    .hover {
      rect,
      circle,
      path {
        fill: $white;
      }
    }
  }

  .js.front {
    .js__rect_alternate {
      display: block;
    }
  }

  .hover .item {
    opacity: 0;
  }
}

.logo.only-big {
  // will-change: initial;
}

.featured {
  svg {
    .base {
      stroke: $gray-lightest;
    }

    .js__letter {
      fill: $gray-lightest;
    }
  }

  .hover {
    rect,
    circle,
    path {
      fill: $white;
    }

    .c6 .js path {
      fill: $c-blue-medium;
    }
  }
}

// .big * {
//   // transition: transform 0.4s ease-in-out;
// }
.item {
  .can-grow,
  .detail-feature & {
    transition: transform 1.4s $custom-easing;
    will-change: transform;
  }

  &.grow.b1,
  .detail-feature &.b1 {
    rect {
      transform: scale(6) translate(-3vw, -4vh) rotate(20deg);
    }

    circle {
      transform: scale(6) translate(8vw, -3vh) rotate(20deg);
    }
  }

  &.grow.a2,
  .detail-feature &.a2 {
    circle {
      transform: scale(6) translate(1vw, -1vh) rotate(64deg);
    }

    rect {
      transform: scale(8) translate(7vw, -14vh) rotate(30deg);
    }
  }

  &.grow.r3,
  .detail-feature &.r3 {
    path {
      transform: scale(7) translate(10vw, -2vh) rotate(-147deg);
    }

    rect {
      transform: scale(7.3) translate(-5vw, -5vh) rotate(11deg);
    }
  }

  &.grow.b4,
  .detail-feature &.b4 {
    rect {
      transform: scale(7) translate(4vw, -4vh) rotate(-27deg);
    }

    circle {
      transform: scale(7.3) translate(-5vw, -5vh) rotate(11deg);
    }
  }

  &.grow.a5,
  .detail-feature &.a5 {
    rect {
      transform: scale(7) translate(-15vw, -5vh) rotate(-24deg);
    }

    circle {
      transform: scale(7.3) translate(2vw, -5vh) rotate(-9deg);
    }
  }

  &.grow.c6,
  .detail-feature &.c6 {
    .togrow {
      transform: scale(5) rotate(-35deg);
    }
  }
}

.can-move .move {
  // will-change: transform;

  &.move1 {
    animation: move1 20s infinite ease-in-out;
  }

  &.move2 {
    animation: move2 29s infinite ease-in-out;
  }

  &.move3 {
    animation: move3 24s infinite ease-in-out;
  }

  &.move4 {
    animation: move4 39s infinite ease-in-out;
  }

  &.move5 {
    animation: move5 18s infinite ease-in-out;
  }
}

@keyframes move1 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10vw, 10vh);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes move2 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(14vw, -10vh);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes move3 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(4vw, -20vh);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes move4 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(30vw, 8vh);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes move5 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-7vw, 8vh);
  }

  100% {
    transform: translate(0, 0);
  }
}

.featured--dep {
  .hover .b1 {
    opacity: 1;
  }

  // .big1 {
  //   display: block !important;
  //   opacity: 1 !important;

  //   rect {
  //     transform-origin: 0 70%;

  //     &.to-animate {
  //       @include big-letter(20deg, 100%, -40%);
  //     }
  //   }

  //   circle {
  //     transform-origin: 0 0%;

  //     &.to-animate {
  //       @include big-letter(20deg, -75%, -30%);
  //     }
  //   }
  // }
}

.featured--small {
  .hover .a2 {
    opacity: 1;
  }

  // .big2 {
  //   display: block !important;
  //   opacity: 1 !important;

  //   rect {
  //     transform-origin: 0 70%;

  //     &.to-animate {
  //       @include big-letter(-20deg, -220%, 300%);
  //     }
  //   }

  //   circle {
  //     transform-origin: 0 0%;

  //     &.to-animate {
  //       @include big-letter(-20deg, 75%, -350%);
  //     }
  //   }
  // }
}

.featured--core {
  .hover .r3 {
    opacity: 1;
  }

  // .big3 {
  //   display: block !important;
  //   opacity: 1 !important;

  //   rect {
  //     transform-origin: 0 70%;

  //     &.to-animate {
  //       @include big-letter(20deg, 75%, -80%);
  //     }
  //   }

  //   path {
  //     transform-origin: 0 0%;

  //     &.to-animate {
  //       @include big-letter(20deg, -120%, 500%);
  //     }
  //   }
  // }
}

.featured--router {
  .hover .b4 {
    opacity: 1;
  }

  // .big4 {
  //   display: block !important;
  //   opacity: 1 !important;

  //   rect {
  //     transform-origin: 0 70%;

  //     &.to-animate {
  //       @include big-letter(20deg, -140%, 140%);
  //     }
  //   }

  //   circle {
  //     transform-origin: 0 0%;

  //     &.to-animate {
  //       @include big-letter(20deg, 50%, -150%);
  //     }
  //   }
  // }
}

.featured--prefetch {
  .hover .a5 {
    opacity: 1;
  }

  // .big5 {
  //   display: block !important;
  //   opacity: 1 !important;

  //   rect {
  //     transform-origin: 0 70%;

  //     &.to-animate {
  //       @include big-letter(-20deg, -20%, 80%);
  //     }
  //   }

  //   circle {
  //     transform-origin: 0 0%;

  //     &.to-animate {
  //       @include big-letter(-20deg, -250%, -200%);
  //     }
  //   }
  // }
}

.featured--about {
  .hover .c6 {
    opacity: 1;
  }

  svg {
    .js__letter {
      display: none;
      fill: $c-blue-medium;
      opacity: 0.1;

      &.to-animate {
        transform: scale(18) translate(-10%, 10%) rotate(-30deg);
      }

      @include mq(m) {
        display: block;
      }
    }
  }
}
