.loader--spinner {
  @keyframes spinner-line-fade-more {
    0%,
    100% {
      opacity: 0; /* minimum opacity */
    }

    1% {
      opacity: 1;
    }
  }

  @keyframes spinner-line-fade-quick {
    0%,
    39%,
    100% {
      opacity: 0; /* minimum opacity */
    }

    40% {
      opacity: 1;
    }
  }

  @keyframes spinner-line-fade-default {
    0%,
    100% {
      opacity: 0; /* minimum opacity */
    }

    1% {
      opacity: 1;
    }
  }
}
