<div class="logo <%= classes %>">
  <svg class="" viewBox="0 0 568 134" version="1.1" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <g class="base" opacity="1" stroke="#2E5BDC" stroke-width="5px" fill="#fff">

      <g class="letters">
        <g transform="translate(2, 0)">
          <rect x="1" y="3" width="38" height="128" />
          <circle cx="41" cy="92" r="40" />
        </g>

        <g transform="translate(96, 0)">
          <rect x="43" y="52" width="38" height="79" />
          <circle cx="41" cy="92" r="40" />
        </g>

        <g transform="translate(201, 0)">
          <g transform="translate(0, 91)">
            <path id="test" d="M0 0
                    C  0 -52
                        79 -52
                    79 0

                    C 79 0
                    0 0
                    0 0
                    Z" />
          </g>

          <rect x="0" y="52" width="38" height="79" />
        </g>

        <g transform="translate(297, 0)">
          <rect x="1" y="3" width="38" height="128" />
          <circle cx="41" cy="92" r="40" />
        </g>

        <g transform="translate(391, 0)">
          <rect x="43" y="52" width="38" height="79" />
          <circle cx="41" cy="92" r="40" />
        </g>
      </g>
      <!-- end letters -->

      <g class="c6" transform="translate(486, 0)">

        <g transform="translate(0, 91)">
          <rect class="js__rect" x="1" y="-91" width="38" height="128" />
          <path class="js__circle" x="0" y="0" d="M0 0 C  0 -52 79 -52 79 0 C 79 52 0 52 0 0 Z" />
          <rect class="js__rect__alternate" x="1" y="-91" width="38" height="128" />
        </g>


        <g class="js__letter" stroke="none" fill="#2E5BDC" transform="translate(-1, 50)">
          <path
            d="M38.3027766,20.6493333 C38.3027766,21.316 38.1782152,21.941 37.9290924,22.5243333 C37.6799696,23.1076667 37.3395018,23.6076667 36.9076889,24.0243333 C36.475876,24.441 35.9693263,24.7743333 35.3880398,25.0243333 C34.808414,25.2743333 34.2005544,25.3993333 33.5694433,25.3993333 C32.9051158,25.3993333 32.2906129,25.2743333 31.7259345,25.0243333 C31.1612561,24.7743333 30.6630105,24.441 30.2328585,24.0243333 C29.7993848,23.6076667 29.458917,23.1076667 29.2097942,22.5243333 C28.9606713,21.941 28.8361099,21.316 28.8361099,20.6493333 C28.8361099,19.9826667 28.9606713,19.3576667 29.2097942,18.7743333 C29.458917,18.191 29.7993848,17.6926667 30.2328585,17.2743333 C30.6630105,16.8576667 31.1612561,16.5243333 31.7259345,16.2743333 C32.2906129,16.0243333 32.9051158,15.8993333 33.5694433,15.8993333 C34.2005544,15.8993333 34.808414,16.0243333 35.3880398,16.2743333 C35.9693263,16.5243333 36.475876,16.8576667 36.9076889,17.2743333 C37.3395018,17.6926667 37.6799696,18.191 37.9290924,18.7743333 C38.1782152,19.3576667 38.3027766,19.9826667 38.3027766,20.6493333 L38.3027766,20.6493333 Z M27.6087649,29.666 L36.8097006,29.666 L36.8097006,59.366 C36.8097006,61.0993333 36.3430105,62.3826667 35.4146129,63.216 C34.4828936,64.0493333 33.2721567,64.466 31.7757591,64.466 L20.068648,64.466 L20.068648,58.466 L29.0354082,58.466 C30.0335602,58.466 30.530145,57.916 30.530145,56.816 L30.530145,35.666 L27.6087649,35.666 L27.6087649,29.666 Z">
          </path>
          <path
            d="M48.6342316,36.6658333 C48.6342316,37.4658333 49.0494363,38.0408333 49.8798456,38.3908333 C50.710255,38.7408333 52.2216,39.0325 54.4122199,39.2658333 C56.9383251,39.5341667 58.9977404,40.2908333 60.5921263,41.5408333 C62.1865123,42.7908333 62.9837053,44.5341667 62.9837053,46.7658333 L62.9837053,47.0658333 C62.9837053,49.5341667 62.0868632,51.4991667 60.2931789,52.9658333 C58.4978339,54.4341667 55.9750503,55.1658333 52.7198456,55.1658333 C50.7932959,55.1658333 49.1490854,54.9158333 47.787214,54.4158333 C46.4253427,53.9158333 45.295986,53.2908333 44.3991439,52.5408333 C43.5023018,51.7908333 42.8114012,50.9591667 42.3314246,50.0408333 C41.8497871,49.1241667 41.5259275,48.2325 41.3598456,47.3658333 L47.1394947,45.4658333 C47.4052257,46.5325 47.9616,47.4658333 48.8069567,48.2658333 C49.6556351,49.0658333 50.957717,49.4658333 52.7198456,49.4658333 C54.2793544,49.4658333 55.3522433,49.2241667 55.9335298,48.7408333 C56.5131556,48.2591667 56.8054596,47.7341667 56.8054596,47.1658333 C56.8054596,46.8341667 56.7307228,46.5258333 56.5812491,46.2408333 C56.4317754,45.9591667 56.1577404,45.6908333 55.7591439,45.4408333 C55.3605474,45.1908333 54.8207813,44.9841667 54.1381848,44.8158333 C53.4572491,44.6508333 52.6035883,44.5158333 51.5738807,44.4158333 C48.7837053,44.1825 46.5665123,43.4591667 44.9223018,42.2408333 C43.2780912,41.0241667 42.455986,39.2341667 42.455986,36.8658333 L42.455986,36.5658333 C42.455986,35.3341667 42.7200561,34.2491667 43.2531789,33.3158333 C43.7846409,32.3841667 44.4821848,31.5908333 45.3458105,30.9408333 C46.2094363,30.2908333 47.2059275,29.7991667 48.3352842,29.4658333 C49.4646409,29.1325 50.627214,28.9658333 51.8230035,28.9658333 C53.3825123,28.9658333 54.7377404,29.1591667 55.8837053,29.5408333 C57.0296702,29.9258333 58.0012491,30.4241667 58.7984421,31.0408333 C59.5956351,31.6591667 60.2433544,32.3408333 60.7416,33.0908333 C61.2398456,33.8408333 61.6201731,34.5658333 61.8859041,35.2658333 L56.2075649,37.5658333 C55.9086175,36.6658333 55.3921029,35.9591667 54.6630035,35.4408333 C53.9305825,34.9258333 52.9855766,34.6658333 51.8230035,34.6658333 C50.7584187,34.6658333 49.9628865,34.8591667 49.4297637,35.2408333 C48.8999626,35.6241667 48.6342316,36.0991667 48.6342316,36.6658333">
          </path>
        </g> <!-- end js__letter -->
      </g> <!-- end js -->
    </g>

    <g class="hover" opacity="1" stroke-width="5px" fill="#fff">
      <defs xmlns="http://www.w3.org/2000/svg">
        <linearGradient x1="50%" y1="100%" x2="50%" y2="0%" id="blue">
          <stop stop-color="#A353FC" offset="0%" />
          <stop stop-color="#00C5EE" offset="100%" />
        </linearGradient>
        <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="purple">
          <stop stop-color="#E752AC" offset="0%" />
          <stop stop-color="#FD0A45" offset="100%" />
        </linearGradient>
        <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="green">
          <stop stop-color="#FFE864" offset="0%" />
          <stop stop-color="#32DC73" offset="100%" />
        </linearGradient>
        <linearGradient x1="50%" y1="100%" x2="50%" y2="0%" id="violet">
          <stop stop-color="#8D3DF5" offset="0%" />
          <stop stop-color="#FF62C6" offset="100%" />
        </linearGradient>
        <linearGradient x1="50%" y1="100%" x2="50%" y2="0%" id="orange">
          <stop stop-color="#FEB440" offset="0%" />
          <stop stop-color="#FA7076" offset="100%" />
        </linearGradient>
      </defs>

      <a class="b1" xlink:href="/features/dependency-free">
        <g transform="translate(2, 0)">
          <rect stroke="#A5FBFF" fill="#A5FBFF" x="1" y="3" width="38" height="128" />
          <circle stroke="url(#blue)" fill="url(#blue)" cx="41" cy="92" r="40" />
        </g>
      </a>

      <a class="a2" xlink:href="/features/small-size">
        <g transform="translate(96, 0)">
          <rect x="43" y="52" width="38" height="79" stroke="#A9FCC9" fill="#A9FCC9" />
          <circle cx="41" cy="92" r="40" stroke="url(#green)" fill="url(#green)" />
        </g>
      </a>

      <a class="r3" xlink:href="/features/core">
        <g transform="translate(201, 0)">
          <g transform="translate(0, 91)">
            <path stroke="url(#orange)" fill="url(#orange)" id="test" d="M0 0
                    C  0 -52
                        79 -52
                    79 0

                    C 79 0
                    0 0
                    0 0
                    Z" />
          </g>

          <rect stroke="#FFDB97" fill="#FFDB97" x="0" y="52" width="38" height="79" />
        </g>
      </a>

      <a class="b4" xlink:href="/features/router">
        <g transform="translate(297, 0)">
          <rect stroke="#FFC1C4" fill="#FFC1C4" x="1" y="3" width="38" height="128" />
          <circle stroke="url(#purple)" fill="url(#purple)" cx="41" cy="92" r="40" />
        </g>
      </a>

      <a class="a5" xlink:href="/features/prefetch">
        <g transform="translate(391, 0)">
          <rect stroke="#F5BCFD" fill="#F5BCFD" x="43" y="52" width="38" height="79" />
          <circle stroke="url(#violet)" fill="url(#violet)" cx="41" cy="92" r="40" />
        </g>
      </a>
      <!-- end letters -->

      <a class="c6" xlink:href="/features/changelog">
        <g transform="translate(486, 0)" stroke="#2E5BDC" stroke-width="5px" fill="#fff">
          <g transform="translate(0, 91)">
            <path x="0" y="0" d="M0 0 C  0 -52 79 -52 79 0 C 79 52 0 52 0 0 Z" />
          </g>

          <g stroke="none" fill="#2E5BDC" transform="translate(-1, 50)">
            <path
              d="M38.3027766,20.6493333 C38.3027766,21.316 38.1782152,21.941 37.9290924,22.5243333 C37.6799696,23.1076667 37.3395018,23.6076667 36.9076889,24.0243333 C36.475876,24.441 35.9693263,24.7743333 35.3880398,25.0243333 C34.808414,25.2743333 34.2005544,25.3993333 33.5694433,25.3993333 C32.9051158,25.3993333 32.2906129,25.2743333 31.7259345,25.0243333 C31.1612561,24.7743333 30.6630105,24.441 30.2328585,24.0243333 C29.7993848,23.6076667 29.458917,23.1076667 29.2097942,22.5243333 C28.9606713,21.941 28.8361099,21.316 28.8361099,20.6493333 C28.8361099,19.9826667 28.9606713,19.3576667 29.2097942,18.7743333 C29.458917,18.191 29.7993848,17.6926667 30.2328585,17.2743333 C30.6630105,16.8576667 31.1612561,16.5243333 31.7259345,16.2743333 C32.2906129,16.0243333 32.9051158,15.8993333 33.5694433,15.8993333 C34.2005544,15.8993333 34.808414,16.0243333 35.3880398,16.2743333 C35.9693263,16.5243333 36.475876,16.8576667 36.9076889,17.2743333 C37.3395018,17.6926667 37.6799696,18.191 37.9290924,18.7743333 C38.1782152,19.3576667 38.3027766,19.9826667 38.3027766,20.6493333 L38.3027766,20.6493333 Z M27.6087649,29.666 L36.8097006,29.666 L36.8097006,59.366 C36.8097006,61.0993333 36.3430105,62.3826667 35.4146129,63.216 C34.4828936,64.0493333 33.2721567,64.466 31.7757591,64.466 L20.068648,64.466 L20.068648,58.466 L29.0354082,58.466 C30.0335602,58.466 30.530145,57.916 30.530145,56.816 L30.530145,35.666 L27.6087649,35.666 L27.6087649,29.666 Z">
            </path>
            <path
              d="M48.6342316,36.6658333 C48.6342316,37.4658333 49.0494363,38.0408333 49.8798456,38.3908333 C50.710255,38.7408333 52.2216,39.0325 54.4122199,39.2658333 C56.9383251,39.5341667 58.9977404,40.2908333 60.5921263,41.5408333 C62.1865123,42.7908333 62.9837053,44.5341667 62.9837053,46.7658333 L62.9837053,47.0658333 C62.9837053,49.5341667 62.0868632,51.4991667 60.2931789,52.9658333 C58.4978339,54.4341667 55.9750503,55.1658333 52.7198456,55.1658333 C50.7932959,55.1658333 49.1490854,54.9158333 47.787214,54.4158333 C46.4253427,53.9158333 45.295986,53.2908333 44.3991439,52.5408333 C43.5023018,51.7908333 42.8114012,50.9591667 42.3314246,50.0408333 C41.8497871,49.1241667 41.5259275,48.2325 41.3598456,47.3658333 L47.1394947,45.4658333 C47.4052257,46.5325 47.9616,47.4658333 48.8069567,48.2658333 C49.6556351,49.0658333 50.957717,49.4658333 52.7198456,49.4658333 C54.2793544,49.4658333 55.3522433,49.2241667 55.9335298,48.7408333 C56.5131556,48.2591667 56.8054596,47.7341667 56.8054596,47.1658333 C56.8054596,46.8341667 56.7307228,46.5258333 56.5812491,46.2408333 C56.4317754,45.9591667 56.1577404,45.6908333 55.7591439,45.4408333 C55.3605474,45.1908333 54.8207813,44.9841667 54.1381848,44.8158333 C53.4572491,44.6508333 52.6035883,44.5158333 51.5738807,44.4158333 C48.7837053,44.1825 46.5665123,43.4591667 44.9223018,42.2408333 C43.2780912,41.0241667 42.455986,39.2341667 42.455986,36.8658333 L42.455986,36.5658333 C42.455986,35.3341667 42.7200561,34.2491667 43.2531789,33.3158333 C43.7846409,32.3841667 44.4821848,31.5908333 45.3458105,30.9408333 C46.2094363,30.2908333 47.2059275,29.7991667 48.3352842,29.4658333 C49.4646409,29.1325 50.627214,28.9658333 51.8230035,28.9658333 C53.3825123,28.9658333 54.7377404,29.1591667 55.8837053,29.5408333 C57.0296702,29.9258333 58.0012491,30.4241667 58.7984421,31.0408333 C59.5956351,31.6591667 60.2433544,32.3408333 60.7416,33.0908333 C61.2398456,33.8408333 61.6201731,34.5658333 61.8859041,35.2658333 L56.2075649,37.5658333 C55.9086175,36.6658333 55.3921029,35.9591667 54.6630035,35.4408333 C53.9305825,34.9258333 52.9855766,34.6658333 51.8230035,34.6658333 C50.7584187,34.6658333 49.9628865,34.8591667 49.4297637,35.2408333 C48.8999626,35.6241667 48.6342316,36.0991667 48.6342316,36.6658333">
            </path>
          </g> <!-- end js__letter -->
        </g> <!-- end js -->
      </a>
    </g>

    <g class="big" opacity="1" stroke-width="5px" fill="#fff">
      <g class="big1" transform="translate(2, 0)">
        <rect class="select-to-animate to-animate" data-morph="1rect" stroke="#A5FBFF" fill="#A5FBFF" x="1" y="3"
          width="38" height="128" />
        <circle class="select-to-animate to-animate" data-morph="1circle" stroke="url(#blue)" fill="url(#blue)" cx="41"
          cy="92" r="40" />
      </g>

      <g class="big2" transform="translate(96, 0)">
        <rect class="select-to-animate to-animate" stroke="#A9FCC9" fill="#A9FCC9" x="43" y="52" width="38"
          height="79" />
        <circle class="select-to-animate to-animate" stroke="url(#green)" fill="url(#green)" cx="41" cy="92" r="40" />
      </g>

      <g class="big3" transform="translate(201, 0)">
        <g transform="translate(0, 91)">
          <path class="select-to-animate to-animate" stroke="url(#orange)" fill="url(#orange)" id="test" d="M0 0
                  C  0 -52
                      79 -52
                  79 0

                  C 79 0
                  0 0
                  0 0
                  Z" />
        </g>

        <rect class="select-to-animate to-animate" stroke="#FFDB97" fill="#FFDB97" x="0" y="52" width="38"
          height="79" />
      </g>

      <g class="big4" transform="translate(297, 0)">
        <rect class="select-to-animate to-animate" stroke="#FFC1C4" fill="#FFC1C4" x="1" y="3" width="38"
          height="128" />
        <circle class="select-to-animate to-animate" stroke="url(#purple)" fill="url(#purple)" cx="41" cy="92" r="40" />
      </g>

      <g class="big5" transform="translate(391, 0)">
        <rect class="select-to-animate to-animate" stroke="#F5BCFD" fill="#F5BCFD" x="43" y="52" width="38"
          height="79" />
        <circle class="select-to-animate to-animate" stroke="url(#violet)" fill="url(#violet)" cx="41" cy="92" r="40" />
      </g>
      <!-- end letters -->

    </g>
  </svg>
</div>
