body {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  padding-right: 1rem;
  background: #2d5bdc;
  font-family: 'Space Mono', monospace;
}

.header__logo {
  display: block;
  width: 4rem;
}

.header__title {
  color: #fff;
}

.header__nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav a {
  padding: 1rem;
  color: #fff;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.nav a.is-active {
  opacity: .5;
  pointer-events: none;
}

.main {
  margin: 2rem;
}

.nav__trigger {
  display: none;
}

@media (min-width: 64em) {
  .main {
    max-width: 60vw;
    margin: 32px auto;
  }
}

@media (max-width: 39.9375em) {
  .main {
    margin-top: 97px;
  }

  .header {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .nav a {
    font-size: 25px;
    text-transform: capitalize;
  }

  .nav__list {
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    top: 65px;
    left: 100vw;
    width: 100vw;
    height: calc(100vh - 65px);
    margin: 0;
    padding: 25px 50px;
    background: #2d5bdc;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav__list::before {
    content: '';
    position: absolute;
    z-index: -1;
    right: -10%;
    bottom: 0;
    width: 256px;
    height: 256px;
    background: url('/assets/images/avatar-white.svg') no-repeat;
    opacity: 0.08;
    transform: scale(2.5) translateX(50px);
    transition: transform 200ms ease;
    pointer-events: none;
  }

  .nav__button {
    position: fixed;
    z-index: 100;
    cursor: pointer;
    right: 20px;
    top: 20px;
    width: 28px;
    height: 28px;
    max-width: inherit;
    margin: 0;
  }

  .nav__button span,
  .nav__button span::before,
  .nav__button span::after {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: transform 300ms ease, background-color 300ms ease, width 300ms ease;
  }

  .nav__button span::before {
    width: 50%;
  }

  .nav__button span::after {
    width: 80%;
  }

  .nav__button span {
    position: absolute;
    top: 12px;
  }

  .nav__button span::before,
  .nav__button span::after {
    position: absolute;
    left: 0;
    z-index: 2;
    content: '';
  }

  .nav__button span::before {
    transform: translateY(-9px);
  }

  .nav__button span::after {
    transform: translateY(9px);
  }

  .nav__trigger:checked ~.nav__button span {
    background-color: rgba(255, 255, 255, 0);
  }

  .nav__trigger:checked ~.nav__button span::before {
    transform: rotate(45deg) translateY(0);
    width: 100%;
  }

  .nav__trigger:checked ~.nav__button span::after {
    transform: rotate(-45deg) translateY(0);
    width: 100%;
  }

  .nav__trigger:checked ~.nav__list {
    transform: translateX(-100vw);
  }

  .nav__trigger:checked ~.nav__list::before {
    transform: scale(2.4) translateX(0);
    transition: transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
