/**
 * Dev, based on $env (from gulp)
 */
$env: 'dev' !default;

/**
 * Colors
 * for the naming use http://name-of-color.com/
 * from darker to lighter ?
 */

// Global colors
$black: rgb(0, 0, 0);
$gray-darkest: rgb(32, 32, 32);
$gray-darker: rgb(64, 64, 64);
$gray-dark: rgb(96, 96, 96);
$gray-medium: rgb(128, 128, 128);
$gray-light: rgb(160, 160, 160);
$gray-lighter: rgb(192, 192, 192);
$gray-lightest: rgb(224, 224, 224);
$white: rgb(255, 255, 255);
$transparent: transparent;

// Dev colors
$c-dev-bg: #3e4b55;
$c-dev-error: #d90b0b;
$c-dev-warning: #f50;
$c-dev-info: #829deb;

// Name colors
$c-dove-gray: #666;
$c-woodsmoke: #101012;

// Project colors
$c-blue-lightest: #f5f7fc;
$c-blue-lighter: #d3defc;
$c-blue-light: #5a82f1;
$c-blue-medium: #2e5bdc;
$c-blue-dark: #2448b0;
$c-blue-darker: #1c398c;
$c-blue-darkest: #112356;
$c-green-medium: #04bf0c;
$c-gray-medium: #858585;
$c-gray-dark: #333;
$c-gray-darker: #0c0c0c;

$c-menu-dependency-free: #38d1f1;
$c-menu-dependency-free-light: #d4f6fe;
$c-menu-small-size: #04bf0c;
$c-menu-small-size-light: #e4ffcc;
$c-menu-core: #ffa543;
$c-menu-core-light: #fef0d5;
$c-menu-router: #ec4343;
$c-menu-router-light: #fcdcdd;
$c-menu-prefetch: #8c44d9;
$c-menu-prefetch-light: #f8e6ff;
$c-menu-about: #2e5bdc;
$c-menu-about-light: #8fadff;

// Semantic/project colors
$c-main: $c-blue-medium;
$c-dark: $black;
$c-light: $white;

// Documentation snippets colors
$c-doc-comment: $c-gray-medium;
$c-doc-attribute: $c-menu-router;
$c-doc-number: $c-menu-core;
$c-doc-string: #718c00;
$c-doc-function: #4271ae;
$c-doc-keyword: $c-menu-prefetch;
$c-doc-color: #3e999f;

// Z Layers
$z-layers: (
  lowest: 0,
  lower: 10,
  low: 20,
  high: 30,
  higher: 40,
  highest: 50,
  infinite: 999,
);

/**
 * Typography
 */

$base-font-size: 18px !default;

$ff-default: 'Rubik', sans-serif;
$ff-alt: 'Space Mono', monospace;
$ff-code: 'Source Code Pro', monaco, menlo, consolas, monospace;

$font-sizes: (
  h1: 3.6rem,
  h2: 2.8rem,
  h3: 2.4rem,
  h4: 1.4rem,
);

// The `scalable-text-map` contains options for our `scalable-text` mixin.
// For each entry, we define a `min` map and a `max` map.
// In this example this means:
// - For a screen < 400px, the `h1` will be 24px.
// - For a screen > 800px, the `h1` will be 36px.
// - For any screen size in between, the `h1` will scale between 24px and 36px.
$scalable-text-map: (
  h1: (
    min: (
      24px,
      'small',
    ),
    max: (
      36px,
      'large',
    ),
  ),
  p: (
    min: (
      13px,
      'small',
    ),
    max: (
      18px,
      'large',
    ),
  ),
);

/*
 * Layout & spacing
 */

$spacing: 20px;
$icon-size: 3.2rem;
$btn-rounded-size: 5rem;
$btn-border-size: 0.2rem;

/**
 * RWD
 */
$mq-responsive: true;
$mq-static-breakpoint: 'large';

/**
 * Logo letters (responsive)
 */
$scale-big-s: 10;
$scale-big-m: 20;
$scale-big-l: 30;
