[class*='footer--'],
.footer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  padding: 2rem;
  color: currentcolor;
  font-size: 1.1rem;
  letter-spacing: 0.15em;
  pointer-events: none;

  @include mq(l) {
    padding: 4.5rem;
  }

  @include mq($until: m) {
    display: none;
  }

  [data-barba="container"]:not([data-barba-namespace="docs"]) & {
    display: none;
  }
}
