.header,
[class*='header--'] {
  padding: $spacing;

  @include mq(m) {
    padding: $spacing * 2;
  }
}

.header__infos {
  display: flex;
  align-items: center;
}

.header__infos__logo {
  margin-right: $spacing * 0.5;
}

.header__infos__version {
  @extend %ff-alt;

  color: $c-main;
  font-size: 1.1rem;
}
