.menu {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  // display: none;
  padding: $spacing * 9 $spacing * 2.5 $spacing * 2.5;
  font-family: $ff-alt;
  user-select: none;
  pointer-events: none;

  &.is-open {
    display: flex;
    pointer-events: initial;
  }

  > div {
    width: 100%;
  }

  @include mq(nav) {
    width: 500px;
  }
}

.menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($c-blue-lightest, .9);
  opacity: 0;
  pointer-events: none;

  transition: opacity .4s ease-in-out;

  .is-open & {
    opacity: 1;
    pointer-events: initial;
  }
}

.menu__panel {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  padding: 180px 50px 50px;
  background-color: $white;
  box-shadow: 10px 10px 10px 10px #D3DEFC;

  transform: translateX(110%);
  transition: transform .4s ease-out;

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 18rem;
    background: $white;
  }

  .is-open & {
    transform: translateX(0);
  }
}

.menu__pages {
  position: relative;
  flex-grow: 1;
}

.menu__pages__list {
  @extend %list-nostyle;
}

.menu__pages__item {
  & + & {
    margin-top: $spacing;
  }
}

.menu__pages__item__title,
.menu__pages__item__link {
  @extend %text-nodecoration;
  font-size: 4rem;
  line-height: 1.2em;
  color: $c-blue-medium;
  transition: color .2s ease-out;

  .menu__pages__item:hover &,
  .menu__pages__item.is-active & {
    color: $black;
  }
}

.menu-subpages__list {
  @extend %list-nostyle;
  padding-left: $spacing;
}

.menu__pages__item__subpages {
  margin-top: $spacing * .75;
}

.menu-subpages__item {
  font-size: 1.6rem;
  line-height: 1.2em;

  & + & {
    margin-top: $spacing * .75;
  }
}

.menu-subpages__item__link {
  @extend %text-nodecoration;
  display: flex;
  align-items: center;
}

.menu-subpages__item__link__line {
  width: 0;
  height: 2px;
  margin-right: $spacing / 2;
  transition: width .2s ease-out;

  .menu-subpages__item.is-active & {
    width: 30px;
  }

  .dependency-free & {
    background-color: $c-menu-dependency-free;
  }

  .small-size & {
    background-color: $c-menu-small-size;
  }

  .open-source & {
    background-color: $c-menu-open-source;
  }

  .views-namespaces-logic & {
    background-color: $c-menu-views-namespaces-logic;
  }

  .prefetch & {
    background-color: $c-menu-prefetch;
  }

  .change-log & {
    background-color: $c-menu-change-log;
  }
}

.menu-subpages__item__link__label {
  color: $c-gray-medium;
  transition: color .2s ease-out;

  .menu-subpages__item:hover.dependency-free &,
  .menu-subpages__item.dependency-free.is-active & {
    color: $c-menu-dependency-free;
  }

  .menu-subpages__item:hover.small-size &,
  .menu-subpages__item.small-size.is-active & {
    color: $c-menu-small-size;
  }

  .menu-subpages__item:hover.open-source &,
  .menu-subpages__item.open-source.is-active & {
    color: $c-menu-open-source;
  }

  .menu-subpages__item:hover.views-namespaces-logic &,
  .menu-subpages__item.views-namespaces-logic.is-active & {
    color: $c-menu-views-namespaces-logic;
  }

  .menu-subpages__item:hover.prefetch &,
  .menu-subpages__item.prefetch.is-active & {
    color: $c-menu-prefetch;
  }

  .menu-subpages__item:hover.change-log &,
  .menu-subpages__item.change-log.is-active & {
    color: $c-menu-change-log;
  }
}

.menu__footer {
  position: relative;
  margin-top: $spacing * 4;
}

.menu__footer__download {
  @extend %text-uppercase;
  @extend %fw-bold;
  width: 100%;
  font-size: 1.5rem;
  padding: $spacing / 2;
  border: 0;
  border-radius: 5px;
  outline: 0;
  background: $c-blue-light;
  color: $white;
  letter-spacing: .15em;
  transition: background .2s ease-out;

  &:hover {
    background: $c-blue-medium;
  }
}

.menu__footer__extra {
  margin-top: $spacing * 2.5;
}

.menu-extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-extra__twitter {
  @extend %text-nodecoration;
  height: 14px;
  margin-right: $spacing * 2;
  color: $black;
  display: flex;
  align-items: center;
}

.menu-extra__twitter__icon {
  display: block;
  width: 16px;
  height: 13px;
  fill: $black;
  margin-right: $spacing / 2;
}

.menu-extra__twitter__label {
  font-size: 1.1rem;
  letter-spacing: .15em;
  white-space: nowrap;
}

.menu-extra__credits {
  @extend %text-nodecoration;
  @extend %text-uppercase;
  color: $black;
  font-size: 1.1rem;
  letter-spacing: .1em;
}
