.menu-trigger {
  position: relative;
  z-index: 999;
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin: 0 1rem;
  background-color: rgba($c-menu-feature-5, 0.2);
  border-radius: 50%;
  cursor: pointer;

  [data-feature-order='0'] & {
    background-color: rgba($c-menu-feature-0, 0.2);
  }

  [data-feature-order='1'] & {
    background-color: rgba($c-menu-feature-1, 0.2);
  }

  [data-feature-order='2'] & {
    background-color: rgba($c-menu-feature-2, 0.2);
  }

  [data-feature-order='3'] & {
    background-color: rgba($c-menu-feature-3, 0.2);
  }

  [data-feature-order='4'] & {
    background-color: rgba($c-menu-feature-4, 0.2);
  }
}

.menu-trigger__shape {
  position: absolute;
  top: 0;
  left: 0;
  fill: transparent;
  stroke: $c-blue-medium;
  stroke-width: 4px;
  stroke-dasharray: 160px;
  stroke-dashoffset: 160px;
  transition: stroke-dashoffset 0.6s $ease-out-quart;

  [data-feature-order='0'] & {
    stroke: $c-menu-feature-0;
  }

  [data-feature-order='1'] & {
    stroke: $c-menu-feature-1;
  }

  [data-feature-order='2'] & {
    stroke: $c-menu-feature-2;
  }

  [data-feature-order='3'] & {
    stroke: $c-menu-feature-3;
  }

  [data-feature-order='4'] & {
    stroke: $c-menu-feature-4;
  }

  .is-open &,
  .menu-trigger:hover & {
    stroke-dashoffset: 0;
  }
}

.menu-trigger__github {
  @extend %text-nodecoration;

  position: absolute;
  z-index: 999;
  top: 50px;
  right: 110px;

  .circle {
    fill: $c-gray-dark;
    transition: fill 0.2s ease-out;
  }

  &:hover .circle {
    fill: $c-blue-medium;
  }

  .shape {
    fill: $white;
  }
}

.menu-trigger__github,
.menu-trigger__github__icon {
  display: block;
  width: 50px;
  height: 50px;
}

.menu-trigger__bar {
  position: absolute;
  left: 50%;
  display: block;
  overflow: hidden;
  width: 45%;
  height: 0.3rem;
  background: $c-blue-medium;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  transition: top 0.4s, transform 0.4s, opacity 0.4s ease-in-out;

  [data-feature-order='0'] & {
    background-color: $c-menu-feature-0;
  }

  [data-feature-order='1'] & {
    background-color: $c-menu-feature-1;
  }

  [data-feature-order='2'] & {
    background-color: $c-menu-feature-2;
  }

  [data-feature-order='3'] & {
    background-color: $c-menu-feature-3;
  }

  [data-feature-order='4'] & {
    background-color: $c-menu-feature-4;
  }

  /* stylelint-disable no-descending-specificity */
  &:nth-child(1) {
    top: 50%;

    .is-open & {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &:nth-child(2) {
    top: 35%;

    .modal.is-open & {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &:nth-child(3) {
    top: 50%;

    .is-open & {
      opacity: 0;
      transform: translate(200%, -50%);
    }

    .modal.is-open & {
      opacity: 1;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &:nth-child(4) {
    top: 64%;

    .is-open & {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  /* stylelint-enable no-descending-specificity */
}
