.menu {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  padding: $spacing * 9 $spacing * 2.5 $spacing * 2.5;
  font-family: $ff-alt;
  user-select: none;
  pointer-events: none;

  &.is-open {
    display: flex;
    pointer-events: initial;
  }

  > div {
    width: 100%;
  }

  @include mq(nav) {
    width: 500px;
  }
}

.menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($c-blue-lightest, 0.9);
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.4s ease-in-out;

  .is-open & {
    opacity: 1;
    pointer-events: initial;
  }
}

.menu__panel {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  padding: 100px 50px 50px;
  box-shadow: 10px 10px 10px 10px $c-blue-lighter;
  background-color: $white;

  transform: translateX(110%);
  transition: transform 0.4s ease-out;

  @include mq(m) {
    padding: 180px 50px 50px;
  }

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    background: $white;

    @include mq(m) {
      height: 18rem;
    }
  }

  .is-open & {
    transform: translateX(0);
  }
}

.menu__pages {
  position: relative;
  flex-grow: 1;
}

.menu__pages__list {
  @extend %list-nostyle;
}

.menu__pages__item {
  & + & {
    margin-top: $spacing;
  }
}

.menu__pages__item__title,
.menu__pages__item__link {
  @extend %text-nodecoration;
  color: $c-blue-medium;
  font-size: 4rem;
  line-height: 1.2em;
  transition: color 0.2s ease-out;

  &:hover,
  &.is-active {
    color: $black;
  }
}

.menu-subpages__list {
  @extend %list-nostyle;
  padding-left: $spacing;
}

.menu__pages__item__subpages {
  margin-top: $spacing * 0.75;
}

.menu-subpages__item {
  font-size: 1.6rem;
  line-height: 1.2em;

  & + & {
    margin-top: $spacing * 0.75;
  }
}

.menu-subpages__item__link {
  @extend %text-nodecoration;
  display: flex;
  align-items: center;
}

.menu-subpages__item__link__line {
  width: 0;
  height: 2px;
  margin-right: $spacing / 2;
  transition: width 0.2s ease-out;

  .menu-subpages__item.is-active & {
    width: 30px;
  }

  .dependency-free & {
    background-color: $c-menu-dependency-free;
  }

  .small-size & {
    background-color: $c-menu-small-size;
  }

  .b-core & {
    background-color: $c-menu-b-core;
  }

  .b-router & {
    background-color: $c-menu-b-router;
  }

  .b-prefetch & {
    background-color: $c-menu-b-prefetch;
  }

  .change-log & {
    background-color: $c-menu-change-log;
  }
}

.menu-subpages__item__link__label {
  color: $c-gray-medium;
  transition: color 0.2s ease-out;

  .menu-subpages__item:hover.dependency-free &,
  .menu-subpages__item.dependency-free.is-active & {
    color: $c-menu-dependency-free;
  }

  .menu-subpages__item:hover.small-size &,
  .menu-subpages__item.small-size.is-active & {
    color: $c-menu-small-size;
  }

  .menu-subpages__item:hover.b-core &,
  .menu-subpages__item.b-core.is-active & {
    color: $c-menu-b-core;
  }

  .menu-subpages__item:hover.b-router &,
  .menu-subpages__item.b-router.is-active & {
    color: $c-menu-b-router;
  }

  .menu-subpages__item:hover.b-prefetch &,
  .menu-subpages__item.b-prefetch.is-active & {
    color: $c-menu-b-prefetch;
  }

  .menu-subpages__item:hover.change-log &,
  .menu-subpages__item.change-log.is-active & {
    color: $c-menu-change-log;
  }
}

.menu__footer {
  position: relative;
  margin-top: $spacing * 4;
}

.menu__footer__download {
  @extend %text-uppercase;
  @extend %fw-bold;
  width: 100%;
  border: 0;
  padding: $spacing / 2;
  outline: 0;
  background: $c-blue-light;
  color: $white;
  font-size: 1.5rem;
  letter-spacing: 0.15em;
  border-radius: 5px;
  transition: background 0.2s ease-out;

  &:hover {
    background: $c-blue-medium;
  }
}

.menu__footer__extra {
  margin-top: $spacing * 2.5;
}

.menu-extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-extra__twitter {
  @extend %text-nodecoration;
  display: flex;
  align-items: center;
  height: 14px;
  margin-right: $spacing * 2;
  color: $black;
}

.menu-extra__twitter__icon {
  display: block;
  width: 16px;
  height: 13px;
  margin-right: $spacing / 2;
  fill: $black;
}

.menu-extra__twitter__label {
  font-size: 1.1rem;
  white-space: nowrap;
  letter-spacing: 0.15em;
}

.menu-extra__credits {
  @extend %text-nodecoration;
  @extend %text-uppercase;
  color: $black;
  font-size: 1.1rem;
  letter-spacing: 0.1em;
}
