<div class="menu-trigger" data-component="menu-trigger">
  <svg viewbox="0 0 50 50" width="50" height="50" class="menu-trigger__shape">
    <circle r="25" cx="25" cy="25"></circle>
  </svg>
  <span class="menu-trigger__bar"></span>
  <span class="menu-trigger__bar"></span>
  <span class="menu-trigger__bar"></span>
</div>
