.intro {
  @include get-all-space;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  text-align: center;
}

.intro .logo {
  max-width: 57rem;
}

.intro h1 {
  max-width: 65rem;
  margin: 0;
  margin-bottom: 2rem;
  font-family: 'Space Mono', monospace;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;

  @include mq(s) {
    width: 80%;
    font-size: 2.5rem;
  }

  .line {
    overflow: hidden;
  }

  span {
    display: inline-block;
  }
}

.intro__list {
  position: relative;
  width: 100%;
  margin: 3rem 0;
  padding: 0;
  z-index: -1;

  div {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
  }

  li:first-child {
    position: relative;
    //opacity: 1;
  }

  li {
    display: block;
    // left: 0;
    opacity: 0;
    // position: absolute;
    width: 100%;
    // top: 0;
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 2.2rem;
    transform: scale(0.9);

    @include mq(s) {
      font-size: 3rem;
    }

    @include mq(m) {
      font-size: 4rem;
    }
  }
}
