<div class="intro" data-component="intro">
  <%- partial('components/common/logo.ejs', { classes: '' }) %>

  <ul class="intro__list">
    <li style="color: #38D1F1">Dependency Free</li>
    <div>
      <li style="color: #04BF0C">Small size</li>
      <li style="color: #FFA543">B/Core</li>
      <li style="color: #EC4343">B/Router</li>
      <li style="color: #8C44D9">B/Prefetch</li>
      <li style="color: #2E5BDC">Change log</li>
    </div>
  </ul>

  <h1>
    <div class="line"><span>Create badass fluid and smooth transitions</span></div>
    <div class="line"><span>between your website’s pages.</span></div>
  </h1>

  <div class="intro__buttons">
    <a href="/features/dependency-free/" class="button">Get started</button>
      <a href="#" class="button button--fill">Download .zip</button>
  </div>
</div>
