//Avoid typekit FOUT
html {
  &.js {
    opacity: 0;
    // transition: opacity .3s ease-in-out;

    &.wf-active,
    &.wf-inactive,
    &.ready {
      opacity: 1;
    }
  }
}

body {
  overflow-x: hidden;

  @media (prefers-color-scheme: dark) {
    background: $c-darkmode-light;
    color: $c-darkmode-color;
  }

  ::selection {
    color: #fff;
    background: $c-blue-medium;
  }

  [data-feature-order='0'] {
    ::selection {
      background: $c-menu-feature-0;
    }
  }

  [data-feature-order='1'] {
    ::selection {
      background: $c-menu-feature-1;
    }
  }

  [data-feature-order='2'] {
    ::selection {
      background: $c-menu-feature-2;
    }
  }

  [data-feature-order='3'] {
    ::selection {
      background: $c-menu-feature-3;
    }
  }

  [data-feature-order='4'] {
    ::selection {
      background: $c-menu-feature-4;
    }
  }

  &.prevent-scroll {
    overflow: hidden;
    height: 100vh;
    margin-left: calc(100vw - 100%);
  }
}

// SVG sprite
body > svg {
  display: none;
}

// RWD
img {
  max-width: 100%;
  height: auto;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

html.is-transitioning {
  &,
  * {
    pointer-events: none;
    cursor: progress;
  }
}

.site-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.site-content-inner {
  @include owl;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  &[data-barba-namespace='docs'] {
    display: block;
    padding: 0;
  }
}

code {
  padding: 2px 4px;
  font-family: $ff-code;
  background: $c-blue-lightest;
  border-radius: 4px;

  @media (prefers-color-scheme: dark) {
    background: $c-darkmode-select;
  }
}

blockquote {
  margin: 2rem 0;
  padding: 0 2.5rem;
  color: $gray-light;
  border-left: 3px solid currentcolor;
  overflow: hidden;

  @media (prefers-color-scheme: dark) {
    color: $c-darkmode-blockquote;

    code {
      color: $c-darkmode-color;
    }
  }
}

hr {
  display: inline-flex;
  background: $c-main;
  width: 5rem;
  height: 0.2rem;
  margin: 2rem 0;
  border: none;
}
