//Avoid typekit FOUT
html {
  &.js {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    &.wf-active,
    &.wf-inactive,
    &.ready {
      opacity: 1;
    }
  }
}

// SVG sprite
body>svg {
  display: none;
}

// RWD
img {
  max-width: 100%;
  height: auto;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}


html.transitioning {

  &,
  * {
    pointer-events: none;
    cursor: progress;
  }
}
