<div class="feature">
  <%- partial('components/logo/logo.ejs', { classes: 'featured featured--change' }) %>

  <div class="feature__content">
    <h1>Change Log</h1>
    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris
      condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget
      quam.</p>
  </div>
</div>