<div class="feature">
  <%- partial('components/logo/logo.ejs', { classes: 'featured featured--'+page.modifier }) %>

  <%- partial('features/feature-nav.ejs') %>

  <div class="feature__content">
    <%- page.content %>
  </div>
</div>
