<div class="feature">
  <%- partial('components/logo/logo.ejs', { classes: 'featured featured--open' }) %>

  <%- partial('features/feature-nav.ejs', {
    prevpage: {
      label: 'Small Size',
      slug: '/features/small-size',
    },
    nextpage: {
      label: 'Views / Namespaces logic',
      slug: '/features/views-namespaces-logic',
    }
  })%>

  <div class="feature__content">
    <h1>Open Source</h1>
    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris
      condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget
      quam.</p>
  </div>
</div>