<div class="modal" data-component="modal">

  <div class="modal__overlay" data-ref="modal.overlay"></div>

  <div class="modal__box">
    <div class="modal__box__close">
      <div class="menu-trigger" data-ref="modal.close">
        <span class="menu-trigger__bar"></span>
        <span></span>
        <span class="menu-trigger__bar"></span>
      </div>
    </div>
    <%- content %>
  </div>

</div>
