<div class="form__feedback--succeed" data-ref="form.succeed">
  <p>Your showcase has been successfully submitted</p>
</div>

<div class="form__feedback--failed" data-ref="form.failed">
  <p>Error</p>
</div>
