<div class="showcase-cta" data-component="showcase-cta">

  <a class="showcase-cta__link cta">
    <%- partial('components/common/icon', {
      icon: 'barba-download',
      hidden: true,
      viewbox: '0 0 30 30',
    }) %>
    <figcaption class="showcase-cta__link__caption">
      <span class="showcase-cta__link__subtitle">Download</span>
      <span class="showcase-cta__link__title">barba.js</span>
    </figcaption>
  </a>

  <button class="showcase-cta__button cta" data-ref="showcase-cta.submit">
    <%- partial('components/common/icon', {
      icon: 'barba-submit',
      hidden: true,
      viewbox: '0 0 30 30',
    }) %>
    <figcaption class="showcase-cta__button__caption">
      <span class="showcase-cta__button__subtitle">Submit</span>
      <span class="showcase-cta__button__title">website</span>
    </figcaption>
  </button>

  <%- partial('components/common/spinner') %>

  <!-- Modal submit -->
  <div class="showcase-cta__overlay" data-ref="showcase-cta.overlay"></div>

  <div class="showcase-cta__modal" data-ref="showcase-cta.modal">

    <form class="showcase-cta__modal__form" data-ref="showcase-cta.form">

      <div class="showcase-cta__modal__close">
        <div class="menu-trigger" data-ref="showcase-cta.close">
          <span class="menu-trigger__bar"></span>
          <span></span>
          <span class="menu-trigger__bar"></span>
        </div>
      </div>

      <h1 class="showcase-cta__modal__title">Submit website</h1>
      <div class="form__image">
        <input type="file" name="pictureUrl" accept=".jpg, .jpeg, .png, .gif" required>
      </div>
      <div class="form__section">
        <div class="form__field">
          <label class="form__label" for="siteName">Site name</label>
          <input class="form__input--text" type="text" name="siteName" placeholder="Website name" required>
        </div>
        <div class="form__field">
          <label class="form__label" for="siteUrl">Url</label>
          <input class="form__input--text" type="url" name="siteUrl" placeholder="http://" required>
        </div>
      </div>
      <div class="form__section">
        <div class="form__field">
          <label class="form__label" for="authorName">Project by</label>
          <input class="form__input--text" type="text" name="authorName" placeholder="Author name" required>
        </div>
        <div class="form__field">
          <label class="form__label" for="authorUrl">Author url</label>
          <input class="form__input--text" type="url" name="authorUrl" placeholder="http://" required>
        </div>
      </div>
      <div class="form__submit">
        <input class="form__input--submit" type="submit" value="Submit project">
      </div>
    </form>

  </div>

</div>
