<div class="showcase" data-component="showcase-cta">

  <a class="showcase__link cta">
    <%- partial('components/common/icon', {
      icon: 'barba-download',
      hidden: true,
      viewbox: '0 0 30 30',
    }) %>
    <figcaption class="showcase__link__caption">
      <span class="showcase__link__subtitle">Download</span>
      <span class="showcase__link__title">barba.js</span>
    </figcaption>
  </a>

  <button class="showcase__button cta" data-ref="showcase-cta.submit">
    <%- partial('components/common/icon', {
      icon: 'barba-submit',
      hidden: true,
      viewbox: '0 0 30 30',
    }) %>
    <figcaption class="showcase__button__caption">
      <span class="showcase__button__subtitle">Submit</span>
      <span class="showcase__button__title">website</span>
    </figcaption>
  </button>

  <!-- Modal submit -->
  <div class="showcase__overlay" data-ref="showcase-cta.overlay"></div>

  <div class="showcase__modal" data-ref="showcase-cta.modal">
    <form class="showcase__modal__form" data-ref="showcase-cta.form">
      <h1 class="showcase__modal__title">Submit website</h1>
      <div class="form__image">
        <input type="file" name="pictureUrl" accept=".jpg, .jpeg, .png, .gif" required>
      </div>
      <div class="form__section">
        <div class="form__field">
          <label class="form__label" for="siteName">Site name</label>
          <input class="form__input--text" type="text" name="siteName" placeholder="Website name" required>
        </div>
        <div class="form__field">
          <label class="form__label" for="siteUrl">Url</label>
          <input class="form__input--text" type="url" name="siteUrl" placeholder="http://" required>
        </div>
      </div>
      <div class="form__section">
        <div class="form__field">
          <label class="form__label" for="authorName">Project by</label>
          <input class="form__input--text" type="text" name="authorName" placeholder="Author name" required>
        </div>
        <div class="form__field">
          <label class="form__label" for="authorUrl">Author url</label>
          <input class="form__input--text" type="url" name="authorUrl" placeholder="http://" required>
        </div>
      </div>
      <div class="form__submit">
        <input class="form__input--submit" type="submit" value="Submit project">
      </div>
    </form>
  </div>
  <!-- Modal submit [end]-->

</div>
