<div class="showcase-cta" data-component="showcase-cta">

  <button class="showcase-cta__button cta">
    <%- partial('components/common/icon', {
      icon: 'barba-submit',
      hidden: true,
      viewbox: '0 0 30 30',
    }) %>
    <figcaption class="showcase-cta__button__caption">
      <span class="showcase-cta__button__subtitle">Submit</span>
      <span class="showcase-cta__button__title">website</span>
    </figcaption>
  </button>

  <!-- Modal with a form onButtonClick -->
  <%- partial('components/showcase/modal', {
    content: partial('components/showcase/form', {
      loader: partial('components/showcase/spinner'),
      feedback: partial('components/showcase/showcase-feedback'),
    }),
  }) %>
  <!-- Modal with a form onButtonClick [end]-->

</div>
