<!doctype html>
<html>
  <body>
    <!-- {{ render_spritesheet() }} -->
    <div class="site">
      <main class="site-main" role="main">
        <div class="site-content">

          <header class="site-header header"
                  role="banner">
            <div class="header-inner">
              <nav class="header__nav nav">
                nav
              </nav>
            </div>
          </header>

          <%- body %>

          <footer class="site-footer footer">
            <div class="footer-inner">
              footer
            </div>
          </footer>
          
        </div><!-- end .site-content -->

      </main><!-- end .site-main -->
    </div><!-- end .site -->

  </body>
</html>
