.example__card__title {
  color: $black;
  font-family: $ff-alt;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2rem;
  letter-spacing: 0.2rem;
}

.example__card__picture {
  width: 100;
  height: 70%;
}

.example__card__links {
  display: flex;
  margin-top: 1rem;

  .link--zip {
    margin-left: auto;
  }
}
